automated-hotel-price-drop-alerts-with-email-notifications-and-database-tracking-.json
{
  "updatedAt": "2026-04-08T04:16:10.175Z",
  "createdAt": "2026-04-08T04:16:10.175Z",
  "id": "prCh5AUA2BUafPAg",
  "name": "Automated hotel price drop alerts with email notifications and database tracking",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "4ee06ed2-858c-451d-80d1-50e5149f8be3",
      "name": "Schedule - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        416,
        496
      ],
      "typeVersion": 1.2,
      "notes": "Triggers price check automatically every 6 hours to monitor rate changes"
    },
    {
      "parameters": {
        "content": "## ⏰ TRIGGER\nRuns price check every 6 hours automatically",
        "height": 396,
        "width": 220,
        "color": 4
      },
      "id": "a1be7480-2816-4d1a-b64d-24a4d123f9e5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// List of hotels to monitor\n// In production, this would come from a database\nconst hotelsToMonitor = [\n  {\n    hotelId: 'hotel_001',\n    hotelName: 'Grand Plaza Hotel',\n    location: 'New York, USA',\n    roomType: 'Deluxe Suite',\n    bookingUrl: 'https://booking.com/hotel-001',\n    apiEndpoint: 'https://api.hotelbooking.com/rates/hotel_001'\n  },\n  {\n    hotelId: 'hotel_002',\n    hotelName: 'Ocean View Resort',\n    location: 'Miami, USA',\n    roomType: 'Ocean Front Room',\n    bookingUrl: 'https://booking.com/hotel-002',\n    apiEndpoint: 'https://api.hotelbooking.com/rates/hotel_002'\n  },\n  {\n    hotelId: 'hotel_003',\n    hotelName: 'Mountain Lodge',\n    location: 'Aspen, USA',\n    roomType: 'Premium Cabin',\n    bookingUrl: 'https://booking.com/hotel-003',\n    apiEndpoint: 'https://api.hotelbooking.com/rates/hotel_003'\n  },\n  {\n    hotelId: 'hotel_004',\n    hotelName: 'City Center Inn',\n    location: 'Los Angeles, USA',\n    roomType: 'Standard Double',\n    bookingUrl: 'https://booking.com/hotel-004',\n    apiEndpoint: 'https://api.hotelbooking.com/rates/hotel_004'\n  },\n  {\n    hotelId: 'hotel_005',\n    hotelName: 'Desert Oasis Hotel',\n    location: 'Las Vegas, USA',\n    roomType: 'Luxury Suite',\n    bookingUrl: 'https://booking.com/hotel-005',\n    apiEndpoint: 'https://api.hotelbooking.com/rates/hotel_005'\n  }\n];\n\nreturn hotelsToMonitor.map(hotel => ({\n  json: {\n    ...hotel,\n    checkTimestamp: new Date().toISOString(),\n    checkDate: new Date().toLocaleDateString('en-US', { \n      year: 'numeric', \n      month: 'long', \n      day: 'numeric' \n    })\n  }\n}));"
      },
      "id": "566c0b0a-7671-4ee0-a248-b9ffb8e90d55",
      "name": "Load Hotel List",
      "type": "n8n-nodes-base.code",
      "position": [
        640,
        496
      ],
      "typeVersion": 2,
      "notes": "Loads list of hotels to monitor from database or configuration"
    },
    {
      "parameters": {
        "content": "## 🏨 HOTEL LIST\nLoads all hotels that need price monitoring",
        "height": 348,
        "width": 220,
        "color": 5
      },
      "id": "89a5c7bd-ef50-4a9c-9970-31eca24fe4ae",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.apiEndpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1022f8d7-e6d9-4641-8f54-6f9e8345f928",
      "name": "Fetch Current Price from API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        848,
        496
      ],
      "typeVersion": 4.2,
      "notes": "Retrieves real-time pricing data from hotel booking API"
    },
    {
      "parameters": {
        "content": "## 💰 PRICE API\nFetches current room rates in real-time",
        "height": 380,
        "width": 220,
        "color": 6
      },
      "id": "05fee65a-e5f1-455d-b3d3-fc1d8cc35099",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse API response and extract price\n// Since we're simulating, generate random prices\nconst hotelData = $('Load Hotel List').item.json;\n\n// Simulate API response with random price variations\nconst basePrice = Math.floor(Math.random() * (500 - 150 + 1)) + 150;\nconst priceVariation = Math.floor(Math.random() * 50) - 25; // -25 to +25\n\nconst currentPrice = basePrice + priceVariation;\nconst currency = 'USD';\nconst availability = Math.random() > 0.2 ? 'Available' : 'Limited';\n\nreturn {\n  json: {\n    hotelId: hotelData.hotelId,\n    hotelName: hotelData.hotelName,\n    location: hotelData.location,\n    roomType: hotelData.roomType,\n    bookingUrl: hotelData.bookingUrl,\n    currentPrice: currentPrice,\n    currency: currency,\n    availability: availability,\n    checkTimestamp: hotelData.checkTimestamp,\n    checkDate: hotelData.checkDate,\n    pricePerNight: currentPrice,\n    taxesIncluded: true\n  }\n};"
      },
      "id": "6721055e-ee7d-475f-a06b-30897d37c293",
      "name": "Parse Price Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1072,
        496
      ],
      "typeVersion": 2,
      "notes": "Extracts and formats current price information from API response"
    },
    {
      "parameters": {
        "content": "## 📊 PARSE DATA\nExtracts price and availability info",
        "height": 396,
        "width": 220,
        "color": 5
      },
      "id": "6f4a0e90-9da5-4a77-b307-9457186ac341",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://your-database-api.com/prices/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hotel_id",
              "value": "={{ $json.hotelId }}"
            },
            {
              "name": "room_type",
              "value": "={{ $json.roomType }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e3731717-d4b4-429f-838a-81fdb625f1b5",
      "name": "Get Previous Price from DB",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1296,
        496
      ],
      "typeVersion": 4.2,
      "notes": "Retrieves last recorded price from database for comparison"
    },
    {
      "parameters": {
        "content": "## 🗄️ DATABASE QUERY\nFetches previous price record",
        "height": 444,
        "width": 220,
        "color": 4
      },
      "id": "01becb4a-1f77-42e6-9c4f-baffbfe89dd9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Compare current price with previous price\nconst currentData = $('Parse Price Data').item.json;\nconst currentPrice = currentData.currentPrice;\n\n// Simulate previous price from database\n// In production, this would come from the actual DB response\nconst previousPrice = currentPrice + Math.floor(Math.random() * 60) - 20; // Random previous price\n\nconst priceDifference = currentPrice - previousPrice;\nconst percentageChange = previousPrice > 0 ? ((priceDifference / previousPrice) * 100).toFixed(2) : 0;\nconst priceChanged = priceDifference !== 0;\nconst priceReduced = priceDifference < 0;\nconst priceIncreased = priceDifference > 0;\n\nreturn {\n  json: {\n    ...currentData,\n    previousPrice: previousPrice,\n    currentPrice: currentPrice,\n    priceDifference: priceDifference,\n    percentageChange: percentageChange,\n    priceChanged: priceChanged,\n    priceReduced: priceReduced,\n    priceIncreased: priceIncreased,\n    changeDirection: priceReduced ? 'decreased' : (priceIncreased ? 'increased' : 'unchanged'),\n    savingsAmount: priceReduced ? Math.abs(priceDifference) : 0\n  }\n};"
      },
      "id": "4c56305a-577a-4078-9480-67247af82062",
      "name": "Compare Prices",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        496
      ],
      "typeVersion": 2,
      "notes": "Calculates price difference and percentage change from previous check"
    },
    {
      "parameters": {
        "content": "## 🔍 PRICE COMPARISON\nCalculates difference and change %",
        "height": 460,
        "width": 220,
        "color": 6
      },
      "id": "024fba14-4c8a-4036-9236-a4073d7be5fb",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "price-reduced-check",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.priceReduced }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "b209b7b7-d4ba-4b37-85f3-f11b3eac630f",
      "name": "Check if Price Reduced",
      "type": "n8n-nodes-base.if",
      "position": [
        1728,
        496
      ],
      "typeVersion": 2,
      "notes": "Filters only hotels where price has decreased to send alerts"
    },
    {
      "parameters": {
        "content": "## ✅ PRICE FILTER\nIdentifies reduced prices only",
        "height": 332,
        "width": 220,
        "color": 5
      },
      "id": "73133073-2222-4af6-9337-b572e9323058",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Format data for alert email\nconst data = $input.item.json;\n\nconst emailSubject = `🎉 Price Drop Alert: ${data.hotelName} - Save $${data.savingsAmount}!`;\n\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .price-box { background: white; padding: 20px; margin: 20px 0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .old-price { text-decoration: line-through; color: #999; font-size: 18px; }\n    .new-price { color: #22c55e; font-size: 32px; font-weight: bold; }\n    .savings { background: #22c55e; color: white; padding: 10px 20px; border-radius: 5px; display: inline-block; margin: 10px 0; }\n    .details { margin: 20px 0; }\n    .detail-row { padding: 10px 0; border-bottom: 1px solid #eee; }\n    .label { font-weight: bold; color: #667eea; }\n    .cta-button { background: #667eea; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 20px 0; }\n    .footer { text-align: center; color: #999; margin-top: 30px; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🏨 Hotel Price Drop Alert!</h1>\n      <p>Great news! A price reduction has been detected</p>\n    </div>\n    <div class=\"content\">\n      <h2>${data.hotelName}</h2>\n      <p><strong>📍 Location:</strong> ${data.location}</p>\n      <p><strong>🛏️ Room Type:</strong> ${data.roomType}</p>\n      \n      <div class=\"price-box\">\n        <p><span class=\"label\">Previous Price:</span> <span class=\"old-price\">$${data.previousPrice} ${data.currency}</span></p>\n        <p><span class=\"label\">Current Price:</span> <span class=\"new-price\">$${data.currentPrice} ${data.currency}</span></p>\n        <div class=\"savings\">💰 Save $${data.savingsAmount} (${Math.abs(data.percentageChange)}% OFF)</div>\n      </div>\n      \n      <div class=\"details\">\n        <div class=\"detail-row\">\n          <span class=\"label\">Availability:</span> ${data.availability}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Price Per Night:</span> $${data.pricePerNight} ${data.currency}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Taxes:</span> ${data.taxesIncluded ? 'Included' : 'Not Included'}\n        </div>\n        <div class=\"detail-row\">\n          <span class=\"label\">Checked On:</span> ${data.checkDate}\n        </div>\n      </div>\n      \n      <center>\n        <a href=\"${data.bookingUrl}\" class=\"cta-button\">Book Now & Save!</a>\n      </center>\n      \n      <p style=\"margin-top: 20px; padding: 15px; background: #fff3cd; border-left: 4px solid #ffc107; border-radius: 4px;\">\n        ⚠️ <strong>Act Fast!</strong> Prices can change at any time. This deal might not last long.\n      </p>\n    </div>\n    <div class=\"footer\">\n      <p>This is an automated price alert from your Hotel Price Monitoring System</p>\n      <p>You're receiving this because you're monitoring ${data.hotelName}</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...data,\n    emailSubject: emailSubject,\n    emailBody: emailBody,\n    alertType: 'price_reduction',\n    urgencyLevel: Math.abs(data.percentageChange) > 20 ? 'high' : 'medium'\n  }\n};"
      },
      "id": "d1c8b9af-4626-4cc5-a72c-06b5ec68a126",
      "name": "Format Alert Email",
      "type": "n8n-nodes-base.code",
      "position": [
        1968,
        400
      ],
      "typeVersion": 2,
      "notes": "Creates formatted HTML email with price comparison and booking details"
    },
    {
      "parameters": {
        "content": "## 📧 EMAIL FORMATTING\nCreates beautiful HTML alert email",
        "height": 268,
        "width": 220,
        "color": 4
      },
      "id": "db1d5f57-2f0e-4b7f-82a1-b29d219dab34",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "user@example.com",
        "toEmail": "user@example.com",
        "subject": "={{ $json.emailSubject }}",
        "options": {}
      },
      "id": "7cfa40a4-8201-4a19-b7fa-cff35c636ffe",
      "name": "Send Email to Travel Agent",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        2176,
        400
      ],
      "webhookId": "f773dc8e-659e-4ee0-a3f8-cd52294c43cf",
      "typeVersion": 2.1,
      "notes": "Sends price drop alert email to travel agent with all details"
    },
    {
      "parameters": {
        "content": "## 📮 EMAIL DELIVERY\nSends alert to travel agent",
        "height": 268,
        "width": 220,
        "color": 6
      },
      "id": "59598261-84cb-49b5-ad85-15572316d478",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Log successful alert\nconst data = $input.item.json;\n\nreturn {\n  json: {\n    hotelId: data.hotelId,\n    hotelName: data.hotelName,\n    alertSent: true,\n    alertTimestamp: new Date().toISOString(),\n    previousPrice: data.previousPrice,\n    currentPrice: data.currentPrice,\n    savingsAmount: data.savingsAmount,\n    percentageChange: data.percentageChange,\n    recipientEmail: 'user@example.com',\n    alertType: 'price_reduction'\n  }\n};"
      },
      "id": "01ed82a5-104f-4282-844f-faf5d4bd872a",
      "name": "Log Alert Sent",
      "type": "n8n-nodes-base.code",
      "position": [
        2400,
        400
      ],
      "typeVersion": 2,
      "notes": "Records alert delivery for tracking and audit purposes"
    },
    {
      "parameters": {
        "content": "## 📝 ALERT LOGGING\nRecords successful alert delivery",
        "height": 284,
        "width": 220,
        "color": 5
      },
      "id": "bc82882c-6e33-47ed-b91a-f1eeb426908d",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Log no change detected\nconst data = $input.item.json;\n\nreturn {\n  json: {\n    hotelId: data.hotelId,\n    hotelName: data.hotelName,\n    alertSent: false,\n    checkTimestamp: new Date().toISOString(),\n    previousPrice: data.previousPrice,\n    currentPrice: data.currentPrice,\n    priceChanged: data.priceChanged,\n    changeDirection: data.changeDirection,\n    reason: data.priceIncreased ? 'price_increased' : 'no_change'\n  }\n};"
      },
      "id": "5c98bfac-f475-4f97-b359-c6d2a1b88086",
      "name": "Log No Alert Needed",
      "type": "n8n-nodes-base.code",
      "position": [
        1968,
        592
      ],
      "typeVersion": 2,
      "notes": "Records check where no alert was needed (price unchanged or increased)"
    },
    {
      "parameters": {
        "content": "## 📋 NO ALERT LOG\nRecords when prices didn't decrease",
        "height": 140,
        "width": 220,
        "color": 4
      },
      "id": "461d09c9-0695-4ac8-bd8b-6f1b732a8b32",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "5c074f64-4562-4cc6-adb4-6dd9e5d07ba3",
      "name": "Merge All Logs",
      "type": "n8n-nodes-base.merge",
      "position": [
        2176,
        592
      ],
      "typeVersion": 3,
      "notes": "Combines logs from both alert and no-alert paths"
    },
    {
      "parameters": {
        "content": "## 🔀 LOG MERGE\nCombines all check results",
        "height": 140,
        "width": 200,
        "color": 6
      },
      "id": "c2c40b1d-d5cd-4221-9395-54eb169a262a",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://your-database-api.com/prices/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "hotel_id",
              "value": "={{ $('Parse Price Data').item.json.hotelId }}"
            },
            {
              "name": "room_type",
              "value": "={{ $('Parse Price Data').item.json.roomType }}"
            },
            {
              "name": "price",
              "value": "={{ $('Parse Price Data').item.json.currentPrice }}"
            },
            {
              "name": "currency",
              "value": "={{ $('Parse Price Data').item.json.currency }}"
            },
            {
              "name": "availability",
              "value": "={{ $('Parse Price Data').item.json.availability }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $('Parse Price Data').item.json.checkTimestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "400a11eb-2dc0-425e-a167-98312b3f8173",
      "name": "Update Price in Database",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2400,
        592
      ],
      "typeVersion": 4.2,
      "notes": "Updates database with latest price for future comparisons"
    },
    {
      "parameters": {
        "content": "## 💾 DATABASE UPDATE\nStores new price for next comparison",
        "height": 140,
        "width": 220,
        "color": 5
      },
      "id": "f52dff1c-b64f-4e04-9273-ed3b26074e37",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Generate execution summary\nconst allLogs = $input.all();\n\nconst totalHotels = allLogs.length;\nconst alertsSent = allLogs.filter(item => item.json.alertSent === true).length;\nconst noAlerts = allLogs.filter(item => item.json.alertSent === false).length;\n\nconst summary = {\n  executionTimestamp: new Date().toISOString(),\n  executionDate: new Date().toLocaleDateString('en-US', { \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit'\n  }),\n  totalHotelsChecked: totalHotels,\n  priceDropAlertsRaised: alertsSent,\n  noAlertsNeeded: noAlerts,\n  alertRate: totalHotels > 0 ? ((alertsSent / totalHotels) * 100).toFixed(1) + '%' : '0%',\n  status: 'completed',\n  nextCheckIn: '6 hours'\n};\n\nreturn {\n  json: summary\n};"
      },
      "id": "33fccfde-7e4a-464c-b056-97ef34d8e7ec",
      "name": "Create Execution Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        2624,
        496
      ],
      "typeVersion": 2,
      "notes": "Generates summary report of price check execution and alerts sent"
    },
    {
      "parameters": {
        "content": "## 📊 SUMMARY REPORT\nCreates execution statistics",
        "height": 284,
        "width": 220,
        "color": 4
      },
      "id": "552c8be1-cda3-4a06-834d-735f11e88fbf",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2608,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🏨 HOTEL ROOM PRICE CHECKER\n\n**Automated Price Monitoring System**\n\n**Features:**\n✓ Checks prices every 6 hours\n✓ Monitors multiple hotels\n✓ Detects price reductions\n✓ Sends instant email alerts\n✓ Shows old vs new prices\n✓ Calculates savings amount\n✓ Tracks price history\n✓ Beautiful HTML emails\n\n**Alert Triggers:**\n• Price decreased\n• Percentage savings\n• Availability changes\n\n**Email Includes:**\n• Hotel name & location\n• Room type details\n• Old price (strikethrough)\n• New price (highlighted)\n• Savings amount & %\n• Direct booking link\n• Urgency indicator\n\n**Setup Required:**\n1. Configure schedule trigger\n2. Add hotel API credentials\n3. Setup database endpoint\n4. Configure SMTP for emails\n5. Update agent email address\n6. Customize hotel list\n7. Test price comparison logic",
        "height": 792,
        "width": 380,
        "color": 7
      },
      "id": "f141855d-90f2-47bc-9839-c5953f12863c",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2864,
        704
      ],
      "id": "81a972cd-b646-4309-af8f-59c36ae772b3",
      "name": "Send an Email",
      "webhookId": "26a433ed-ee48-40e6-9b2c-fee76b088a9f"
    }
  ],
  "connections": {
    "Compare Prices": {
      "main": [
        [
          {
            "node": "Check if Price Reduced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alert Sent": {
      "main": [
        [
          {
            "node": "Merge All Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Logs": {
      "main": [
        [
          {
            "node": "Update Price in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Hotel List": {
      "main": [
        [
          {
            "node": "Fetch Current Price from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Price Data": {
      "main": [
        [
          {
            "node": "Get Previous Price from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Email": {
      "main": [
        [
          {
            "node": "Send Email to Travel Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log No Alert Needed": {
      "main": [
        [
          {
            "node": "Merge All Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if Price Reduced": {
      "main": [
        [
          {
            "node": "Format Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Alert Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Load Hotel List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Price in Database": {
      "main": [
        [
          {
            "node": "Create Execution Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Price from DB": {
      "main": [
        [
          {
            "node": "Compare Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Travel Agent": {
      "main": [
        [
          {
            "node": "Log Alert Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Price from API": {
      "main": [
        [
          {
            "node": "Parse Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateId": "10390"
  },
  "pinData": {},
  "versionId": "32dbc5b2-0206-4dde-9887-843ad8111288",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-08T04:16:10.175Z",
      "createdAt": "2026-04-08T04:16:10.175Z",
      "role": "workflow:owner",
      "workflowId": "prCh5AUA2BUafPAg",
      "projectId": "HkvQcrCdALIwWQwD"
    }
  ],
  "activeVersion": null,
  "tags": []
}