automated-monthly-energy-reports-with-postgresql,-pdf.co-&-email-delivery-.json
{
  "updatedAt": "2026-04-12T15:48:13.120Z",
  "createdAt": "2026-04-12T15:48:13.120Z",
  "id": "BM8I5HHSIEhdizLj",
  "name": "Automated monthly energy reports with PostgreSQL, PDF.co & email delivery",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    json_string: JSON.stringify({\n      date_range: \"2025-07-01 to 2025-07-03\",\n      records: $input.all().map(record => ({\n        id: record.json.id,\n        site_name: record.json.site_name,\n        generation_date: record.json.generation_date,\n        energy_generated_kwh: record.json.energy_generated_kwh,\n        peak_power_kw: record.json.peak_power_kw,\n        remarks: record.json.remarks\n      })),\n      note: \"TEST\"\n    })\n  }\n};\n"
      },
      "id": "8a74f8aa-d3bf-4a08-9950-e51077071a5e",
      "name": "Transform data",
      "type": "n8n-nodes-base.code",
      "position": [
        880,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7e78ea66-5a79-4904-a514-f5916602b571",
      "name": "Convert data to pdf",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        400
      ],
      "executeOnce": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "subject": "Energy Report",
        "emailType": "text",
        "message": "=Your monthly energy report is as follows  {{ $json.url }}",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "3f834d5f-2239-4842-a14e-9a1c15dbb771",
      "name": "Send Report",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1312,
        400
      ],
      "webhookId": "321c91d5-f112-4328-8a14-95ac4558239a",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "energy_data",
          "cachedResultName": "energy_data"
        },
        "options": {}
      },
      "id": "e8dd1777-6e62-4d14-89dc-e3217b9f7318",
      "name": "Get energy data",
      "type": "n8n-nodes-base.postgres",
      "position": [
        656,
        400
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "3pU8vz8Ui03Hajq7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "id": "18bb8b25-1532-4b31-9b53-6599c6ee5624",
      "name": "Monthly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        432,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Monthly Energy Generation Report (Postgres → PDF → Email)",
        "height": 340,
        "width": 1140,
        "color": 4
      },
      "id": "72b04ac2-68f3-4e90-9b02-e250f83aeb42",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "##  **Purpose**\nAutomatically generate and send a monthly energy generation report. It collects energy data from a PostgreSQL database, formats it into a PDF, and emails it to a recipient.\n\n##  **Core Logic**\n1. **Trigger**: The workflow is scheduled to run monthly via a `Schedule Trigger` node.\n2. **Data Collection**: Connects to a PostgreSQL database and fetches energy data from the `energy_data` table.\n3. **Transformation**: Uses a `Code` node to transform raw database rows into a structured JSON object with metadata like `date_range`, `note`, and `records`.\n4. **PDF Generation**: Sends the transformed JSON to the PDF.co API (`Convert data to pdf` node), which returns a downloadable report URL.\n5. **Email Delivery**: Uses the `Gmail` node to send the report link via email to a configured recipient.\n\n##  **Outcome**\n* An energy performance PDF report is automatically generated and emailed monthly.\n* Enables proactive reporting for energy production across multiple plants (solar, wind, hydro).\n* Removes manual intervention in creating recurring performance summaries.",
        "height": 400,
        "width": 1140,
        "color": 2
      },
      "id": "04a42081-91d1-4a4b-b21c-57e26c7343da",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        624
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Send Report": {
      "main": [
        []
      ]
    },
    "Transform data": {
      "main": [
        [
          {
            "node": "Convert data to pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get energy data": {
      "main": [
        [
          {
            "node": "Transform data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger": {
      "main": [
        [
          {
            "node": "Get energy data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert data to pdf": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateId": "8113"
  },
  "pinData": {},
  "versionId": "7e8f288e-0c7a-4005-bc08-1b163978abc6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-12T15:48:13.120Z",
      "createdAt": "2026-04-12T15:48:13.120Z",
      "role": "workflow:owner",
      "workflowId": "BM8I5HHSIEhdizLj",
      "projectId": "HkvQcrCdALIwWQwD"
    }
  ],
  "activeVersion": null,
  "tags": []
}