create-a-knowledge-base-chatbot-with-google-drive-&-gpt-4o-using-vector-search-.json
{
  "updatedAt": "2026-02-25T08:09:05.982Z",
  "createdAt": "2026-02-24T01:51:55.602Z",
  "id": "GnTrpZTzPeasG9te",
  "name": "Create a knowledge base chatbot with Google Drive & GPT-4o using vector search",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "3c701a7e-738e-44d4-af9b-c3629d0e471e",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2592,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Drive Connection\nTo set up Google Drive OAuth2 credentials in n8n (using the recommended OAuth2 method), follow these steps:\n\n1. Create a Google Cloud Project:\n - Go to the Google Cloud Console.\n - Create a new project or select an existing one.\n\n2. Enable the Google Drive API:\n - In your project, navigate to “APIs & Services” > “Library”.\n - Search for “Google Drive API” and enable it.\n\n3. Configure OAuth Consent Screen:\n - Go to “APIs & Services” > “OAuth consent screen”.\n - Fill in the required fields (app name, user support email, etc.).\n - Add the necessary scopes (for Google Drive, typically https://www.googleapis.com/auth/drive).\n\n4. Create OAuth2 Credentials:\n - Go to “APIs & Services” > “Credentials”.\n - Click “Create Credentials” > “OAuth client ID”.\n - Choose “Web application”.\n - Add the following to “Authorized redirect URIs”:\n - https://<your-n8n-domain>/rest/oauth2-credential/callback\n - If running locally: http://localhost:5678/rest/oauth2-credential/callback\n\n5. Copy the Client ID and Client Secret.\n \n6. In n8n:\n - Go to “Credentials” and create new credentials for “Google Drive OAuth2 API”.\n - Enter the Client ID and Client Secret you copied from Google Cloud.\n - Set the appropriate scopes (e.g., https://www.googleapis.com/auth/drive).\n - Save and connect the credentials.\n\nAfter this, your Google Drive OAuth2 credentials should be set up and ready to use in your n8n workflows.\n\nNote: If you get 403:access denied you need to go back to Google cloud.\n - Go to Audience\n - Add your Email in Test users",
        "height": 920,
        "width": 620,
        "color": 4
      },
      "id": "e7c3e7a9-5d38-4dd4-983f-1f4a104f4fe9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🛠️ Configuration Guide After Importing the Template\n\nOnce you download and import the chatbot template into your n8n instance, follow these steps to configure it properly:\n\n---\n\n### 🔑 1. **Set Up Google Drive Credentials**\n\n- Go to **Credentials** in n8n.\n- Create new credentials for **Google Drive OAuth2 API**.\n- Add your **Client ID** and **Client Secret** from Google Cloud Console \n(Follow the Google drive connection guide on the next green note).\n- Make sure to add the redirect URL:\n ```\n https://<your-n8n-domain>/rest/oauth2-credential/callback\n ```\n- Use the created credential in all `Google Drive` nodes.\n---\n\n### 📁 2. **Set the File or Folder to Load from Google Drive**\n\n- All the `Google Drive` node (except Download Files node):\n - Set the file name or folder name to search for.\n- In the `Google Drive Download Files` node:\n - Map the file ID from the search result using expressions like:\n ```\n {{$json[\"id\"]}}\n ```\n---\n\n### 🔐 3. **Connect Your OpenAI Credentials**\n\n- Create a new credential in n8n for **OpenAI API**.\n- Paste your OpenAI API key.\n- Use this credential in:\n - `Embeddings OpenAI` node\n - `OpenAI Chat Model` node\n - `Answer questions with a vector store`\n\n---",
        "height": 980,
        "width": 620,
        "color": 6
      },
      "id": "fac8b33c-f829-4d39-8eee-c773c93980e6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🤖 Simple AI Chatbot Using Google Drive Knowledge in n8n\n\nThis guide explains how to use an **AI chatbot powered by OpenAI**, where the knowledge comes from files (like PDFs, text, etc.) stored in **Google Drive**. No coding needed!\n\n---\n\n## 📌 What This Workflow Does\n\n- Automatic file updates from Google Drive \n- Converts it into a searchable knowledge base (vector store)\n- Allows users to chat and ask questions about that file\n- AI replies based **only** on the content in your file!\n\n---",
        "height": 520,
        "width": 620
      },
      "id": "6bbd55eb-29bb-4322-83a8-ebb46292802b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "3a3ff629-4664-4b11-8de0-56eeb236044e",
      "name": "Download Files",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2336,
        784
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "arOykrX1iB5N3soz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n### 🧩 PART 1: **File Upload and Knowledge Preparation**\n\n| Node | What It Does |\n|----------------------------------------------|--------------------------------------------------------------|\n| 📂 File created in the Folder | Triggered when a new file is uploaded to Google Drive |\n|----------------------------------------------|--------------------------------------------------------------|\n| 📂 File updated in the Folder | Triggered when an existing file is updated |\n|----------------------------------------------|--------------------------------------------------------------|\n| 🔍 Search Files in your Google Drive | Finds the new or updated file |\n|----------------------------------------------|--------------------------------------------------------------|\n| ⬇️ Download Files | Downloads the actual content of the file |\n|----------------------------------------------|--------------------------------------------------------------|\n| 🧠 Embeddings OpenAI | Converts file into searchable AI vectors |\n|----------------------------------------------|--------------------------------------------------------------|\n| 📄 Default Data Loader | Loads document into chunks |\n|----------------------------------------------|--------------------------------------------------------------|\n| 🔁 Recursive Character Text Splitter | Splits large documents into clean text blocks |\n|----------------------------------------------|--------------------------------------------------------------|\n| 🧊 Simple Vector Store | Stores the vectors for AI retrieval later |\n",
        "height": 1160,
        "width": 1080,
        "color": 3
      },
      "id": "79414561-32d3-4d1c-924f-341ce16aeb76",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JeZSngNy3Xnu0Q18b3L_TekW4x9rDJmm",
          "mode": "list",
          "cachedResultName": "AI Email Autoreply",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JeZSngNy3Xnu0Q18b3L_TekW4x9rDJmm"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "01d71fdf-4979-4478-a480-a0d15de8dab5",
      "name": "File created in the Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        1904,
        704
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "arOykrX1iB5N3soz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JeZSngNy3Xnu0Q18b3L_TekW4x9rDJmm",
          "mode": "list",
          "cachedResultName": "AI Email Autoreply",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JeZSngNy3Xnu0Q18b3L_TekW4x9rDJmm"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "a2cf29ab-fa4d-4185-9a0d-eb22e04bf836",
      "name": "File updated in the Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        1904,
        912
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "arOykrX1iB5N3soz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1JeZSngNy3Xnu0Q18b3L_TekW4x9rDJmm",
            "mode": "list",
            "cachedResultName": "AI Email Autoreply",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1JeZSngNy3Xnu0Q18b3L_TekW4x9rDJmm"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "id": "f8c00b8a-13da-451a-855c-ccc424fd56c1",
      "name": "Search Files in your Google Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2128,
        784
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "arOykrX1iB5N3soz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2464,
        1056
      ],
      "id": "3622ec0a-3faf-4b37-8928-d082aad6531e",
      "name": "Embeddings Google Gemini",
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "sAGUiTQ6VpMO8eW9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "hcs_kb_001",
        "options": {
          "columnNames": {
            "values": {}
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2624,
        784
      ],
      "id": "e496ef4a-da23-4553-9b79-aeca4950bf14",
      "name": "Postgres PGVector Store",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "3pU8vz8Ui03Hajq7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "51a61f7f-610b-4cda-8405-11983fec7c8a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2592,
        1056
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Download Files": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File created in the Folder": {
      "main": [
        [
          {
            "node": "Search Files in your Google Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File updated in the Folder": {
      "main": [
        [
          {
            "node": "Search Files in your Google Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Search Files in your Google Drive Folder": {
      "main": [
        [
          {
            "node": "Download Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:File created in the Folder": {
      "lastTimeChecked": "2026-02-24T03:19:06Z"
    },
    "node:File updated in the Folder": {
      "lastTimeChecked": "2026-02-24T03:19:06Z"
    }
  },
  "meta": {
    "templateId": "6250",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "16043880-af9f-4855-bb42-d8a9509e0bc2",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-24T01:51:55.602Z",
      "createdAt": "2026-02-24T01:51:55.602Z",
      "role": "workflow:owner",
      "workflowId": "GnTrpZTzPeasG9te",
      "projectId": "HkvQcrCdALIwWQwD"
    }
  ],
  "activeVersion": null,
  "tags": []
}