generate-weekly-energy-consumption-reports-with-energidataservice,-email-and-google-drive-.json
{
  "updatedAt": "2026-04-12T15:42:43.281Z",
  "createdAt": "2026-04-12T15:40:09.478Z",
  "id": "MRge9ubYHbxEGw8V",
  "name": "Generate weekly energy consumption reports with EnergiDataService, email and Google Drive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 8,
              "weekday": "monday"
            }
          ]
        }
      },
      "id": "4827c44f-1995-4cd9-837f-f06c55ce9697",
      "name": "Schedule Weekly (Mon 8AM)",
      "type": "n8n-nodes-base.cron",
      "position": [
        416,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.energidataservice.dk/dataset/ConsumptionDE35Hour",
        "options": {}
      },
      "id": "028bf36b-a75b-474d-a596-dcd8f4db7c20",
      "name": "Fetch Energy Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const itemlist = $input.first().json.records;\nreturn itemlist.map(r => ({ json: r }));"
      },
      "id": "f0fa171b-52b2-4350-8d0f-808117715e30",
      "name": "Normalize Records",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a47b2980-6da2-4dbc-bb09-d23d4b936d9f",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1072,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fromEmail": "user@example.com",
        "toEmail": "user@example.com",
        "subject": "Weekly Energy Consumption Report",
        "text": "Please find attached the latest weekly energy consumption report.",
        "attachments": "=data",
        "options": {}
      },
      "id": "613baa2d-3929-4e88-aa65-5303860dcfb4",
      "name": "Send Email Weekly Report",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1296,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "=energy_report_{{ $now.format('yyyy_MM_dd_HH_ii_ss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "588f3a86-3932-499f-b3aa-e60cbc2c8ebd",
      "name": "Report File Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1296,
        512
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "arOykrX1iB5N3soz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "📝 - **Schedule Weekly (Mon 8AM)**: Trigger every Monday at 8AM.",
        "height": 120,
        "width": 160
      },
      "id": "7c910c92-a9d4-4a2e-9e91-69d859ea633f",
      "name": "Sticky: Node Explanations1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📝 - **Fetch Energy Data**: Call EnergiDataService.dk API.",
        "height": 120,
        "width": 160
      },
      "id": "ff3f08c5-430d-4b3e-8ef5-f3f93d32efe7",
      "name": "Sticky: Node Explanations2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📝 - **Normalize Records**: Flatten JSON response (records → items).",
        "height": 120,
        "width": 160
      },
      "id": "1627fcfa-d1f6-40f5-90dd-0352b2a6fb63",
      "name": "Sticky: Node Explanations3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📝 - **Convert to File**: Turn items into a CSV (binary `data`).",
        "height": 120,
        "width": 160
      },
      "id": "48440a87-317b-47e4-808c-b07e6411bdd0",
      "name": "Sticky: Node Explanations4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📝 - **Email Weekly Report**: Email the CSV file.",
        "height": 120,
        "width": 160
      },
      "id": "dd003fb3-dccc-4e2f-90d4-f9acbdcca301",
      "name": "Sticky: Node Explanations5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📝 - **Upload File to Drive**: Save CSV to Google Drive.",
        "height": 120,
        "width": 160
      },
      "id": "2f2425e1-86d2-499c-be72-3f42d723385c",
      "name": "Sticky: Node Explanations6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        704
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send Email Weekly Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Report File Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Energy Data": {
      "main": [
        [
          {
            "node": "Normalize Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Records": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Weekly (Mon 8AM)": {
      "main": [
        [
          {
            "node": "Fetch Energy Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateId": "7592"
  },
  "pinData": {},
  "versionId": "41689ae0-689f-408a-8075-c637ee3c57e5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-12T15:40:09.478Z",
      "createdAt": "2026-04-12T15:40:09.478Z",
      "role": "workflow:owner",
      "workflowId": "MRge9ubYHbxEGw8V",
      "projectId": "HkvQcrCdALIwWQwD"
    }
  ],
  "activeVersion": null,
  "tags": []
}