govern-energy-portfolios-with-gpt-4o,-perplexity,-slack,-gmail-and-sheets-.json
{
  "updatedAt": "2026-04-12T15:34:10.518Z",
  "createdAt": "2026-04-12T15:34:10.518Z",
  "id": "8lVrktIDVAcoWjMc",
  "name": "Govern energy portfolios with GPT-4o, Perplexity, Slack, Gmail and Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "ff1c52e9-74e1-4856-9c39-b5ce70648a13",
      "name": "Energy Analysis Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        416,
        912
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__weather_api_endpoint__>",
        "options": {}
      },
      "id": "0806a3fe-9d07-40ca-9b25-f07388d8391a",
      "name": "Fetch Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        720
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__energy_demand_api_endpoint__>",
        "options": {}
      },
      "id": "d668b40d-8da9-430b-b24d-220c1e62aa4c",
      "name": "Fetch Energy Demand",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        912
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__renewable_generation_api_endpoint__>",
        "options": {}
      },
      "id": "d097b13e-4516-4d33-860a-50a0342f7711",
      "name": "Fetch Renewable Generation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        1104
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "8d45a455-1bd9-4043-876e-1a70520cb75d",
      "name": "Combine Energy Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        864,
        896
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Energy Governance Agent, responsible for orchestrating smart energy allocation, policy compliance, and sustainability reporting. Analyze the combined energy data (weather, demand, renewable generation) and coordinate with specialized sub-agents to optimize renewable energy usage, reduce non-renewable reliance, ensure policy compliance, and generate comprehensive sustainability insights. Provide strategic recommendations for energy allocation and identify compliance issues."
        }
      },
      "id": "1eb8242f-9f0e-4847-a82d-70fe493a6878",
      "name": "Energy Governance Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2016,
        912
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "2d8ebfc8-8528-4c04-91d4-95ad16b4053e",
      "name": "Governance Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1088,
        1136
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"renewablePercentage\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"nonRenewablePercentage\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"energyEfficiencyScore\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"carbonFootprintKg\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"policyComplianceStatus\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"recommendations\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"alerts\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"forecastedDemandKwh\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"availableRenewableKwh\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"optimizationOpportunities\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "d2201c9e-ea06-482a-9ce4-cbdd57b36e9c",
      "name": "Structured KPI Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2592,
        1136
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "toolDescription": "Analyzes energy demand patterns, weather conditions, and renewable generation capacity to forecast renewable energy availability and predict optimal allocation strategies",
        "text": "={{ $fromAI('forecasting_task', 'The forecasting analysis task to perform') }}",
        "options": {
          "systemMessage": "You are the Renewable Energy Forecasting Agent. Analyze energy demand trends, weather patterns (solar radiation, wind speed), and current renewable generation capacity to predict future renewable energy availability. Calculate renewable vs non-renewable percentages, identify peak demand periods, and recommend optimal energy allocation strategies to maximize renewable usage."
        }
      },
      "id": "802936ed-7ea7-4bbb-86e9-008cb1efe917",
      "name": "Renewable Forecasting Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1216,
        1136
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "3f8bc7ec-2e47-49ed-9c28-19e095a4d0ed",
      "name": "Forecasting Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1296,
        1344
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "toolDescription": "Analyzes weather patterns including solar radiation, wind speed, cloud cover, and temperature to assess impact on renewable energy generation potential",
        "text": "={{ $fromAI('weather_task', 'The weather analysis task to perform') }}",
        "options": {
          "systemMessage": "You are the Weather Analysis Agent. Analyze current and forecasted weather conditions (solar radiation, wind speed, cloud cover, temperature, precipitation) to assess their impact on renewable energy generation. Predict solar panel efficiency, wind turbine output, and identify optimal weather windows for maximum renewable generation."
        }
      },
      "id": "ede50230-9b8c-43e3-85ee-51f2b52e2f9b",
      "name": "Weather Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1504,
        1136
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "423f6c8a-7375-4e85-a519-099468cffd35",
      "name": "Weather Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1584,
        1344
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "toolDescription": "Evaluates energy usage against sustainability policies, regulatory requirements, and environmental standards to ensure compliance and identify violations",
        "text": "={{ $fromAI('compliance_task', 'The policy compliance task to perform') }}",
        "options": {
          "systemMessage": "You are the Policy Compliance Agent. Evaluate current energy allocation and renewable usage against sustainability policies, environmental regulations, carbon emission targets, and renewable energy mandates. Identify compliance violations, calculate carbon footprint, assess policy adherence, and recommend corrective actions to meet sustainability goals."
        }
      },
      "id": "847bf588-0296-42e7-87dc-384424ae3e4d",
      "name": "Policy Compliance Agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1792,
        1136
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "f8a74528-5082-43c5-a831-a8292268e336",
      "name": "Policy Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1872,
        1344
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "8a5335ce-0077-4231-93ec-6395c7d57a61",
      "name": "Energy Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2080,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "Executes complex energy optimization algorithms and statistical forecasting models",
        "jsCode": "// Energy optimization algorithm\nconst demand = $fromAI('demand', 'Energy demand in kWh', 'number');\nconst renewable = $fromAI('renewable', 'Available renewable energy in kWh', 'number');\nconst efficiency = Math.min(renewable / demand * 100, 100);\nreturn { efficiency, surplus: Math.max(renewable - demand, 0) };"
      },
      "id": "38408357-003d-469c-ae9f-3b63bfe613ed",
      "name": "Optimization Algorithm Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        2208,
        1136
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "toolDescription": "Fetches additional energy grid data, IoT sensor readings, or external sustainability metrics when needed",
        "method": "={{ $fromAI('method', 'HTTP method (GET, POST, etc.)', 'string', 'GET') }}",
        "url": "={{ $fromAI('url', 'API endpoint URL', 'string') }}",
        "options": {}
      },
      "id": "82d2c6d0-8003-4fff-9e17-a9f68c3040f9",
      "name": "External Data API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        2336,
        1136
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Researches latest renewable energy policies, sustainability regulations, and industry best practices",
        "messages": {
          "message": [
            {
              "content": "={{ $fromAI('sustainability_research', 'Research query about renewable energy policies, sustainability regulations, or industry best practices') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "9d3080ac-8a34-4a42-b563-c0346d09968c",
      "name": "Sustainability Research Tool",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        2464,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "6ab3a126-37a0-4ae3-9c8e-cd8d639e4ef4",
      "name": "Store Energy KPIs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3024,
        1104
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "<__PLACEHOLDER_VALUE__sustainability_channel__>"
        },
        "text": "=🌱 *Sustainability Alert*\n\n*Renewable Energy:* {{ $json.output.renewablePercentage }}%\n*Energy Efficiency Score:* {{ $json.output.energyEfficiencyScore }}/100\n*Carbon Footprint:* {{ $json.output.carbonFootprintKg }} kg CO₂\n*Compliance Status:* {{ $json.output.policyComplianceStatus }}\n\n*Recommendations:*\n{{ $json.output.recommendations.join('\\n• ') }}\n\n*Alerts:*\n{{ $json.output.alerts.join('\\n⚠️ ') }}",
        "otherOptions": {}
      },
      "id": "5bf20b2b-b500-4912-923b-c08ea0b676f6",
      "name": "Send Sustainability Alert",
      "type": "n8n-nodes-base.slack",
      "position": [
        2800,
        720
      ],
      "webhookId": "cb434f29-675a-4054-8725-4951a6b20a65",
      "typeVersion": 2.4
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__sustainability_team_email__>",
        "subject": "=Environmental Performance Dashboard - {{ $now.format('yyyy-MM-dd') }}",
        "message": "=<h2>🌍 Environmental Performance Dashboard</h2>\n\n<h3>Energy Metrics</h3>\n<ul>\n<li><strong>Renewable Energy Usage:</strong> {{ $('Energy Governance Agent').item.json.output.renewablePercentage }}%</li>\n<li><strong>Non-Renewable Usage:</strong> {{ $('Energy Governance Agent').item.json.output.nonRenewablePercentage }}%</li>\n<li><strong>Energy Efficiency Score:</strong> {{ $('Energy Governance Agent').item.json.output.energyEfficiencyScore }}/100</li>\n<li><strong>Carbon Footprint:</strong> {{ $('Energy Governance Agent').item.json.output.carbonFootprintKg }} kg CO₂</li>\n</ul>\n\n<h3>Forecasting</h3>\n<ul>\n<li><strong>Forecasted Demand:</strong> {{ $('Energy Governance Agent').item.json.output.forecastedDemandKwh }} kWh</li>\n<li><strong>Available Renewable:</strong> {{ $('Energy Governance Agent').item.json.output.availableRenewableKwh }} kWh</li>\n</ul>\n\n<h3>Policy Compliance</h3>\n<p><strong>Status:</strong> {{ $('Energy Governance Agent').item.json.output.policyComplianceStatus }}</p>\n\n<h3>Optimization Opportunities</h3>\n<ul>\n{{ $('Energy Governance Agent').item.json.output.optimizationOpportunities.map(o => '<li>' + o + '</li>').join('') }}\n</ul>\n\n<h3>Strategic Recommendations</h3>\n<ul>\n{{ $('Energy Governance Agent').item.json.output.recommendations.map(r => '<li>' + r + '</li>').join('') }}\n</ul>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "02b99fec-bde8-47ae-8e52-07fc4e9e5b3a",
      "name": "Email Performance Dashboard",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2800,
        912
      ],
      "webhookId": "a770c88f-6e74-4e60-a664-5b87afbb9b4d",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "id": "id-2",
              "name": "renewablePercentage",
              "type": "number",
              "value": "={{ $json.output.renewablePercentage }}"
            },
            {
              "id": "id-3",
              "name": "nonRenewablePercentage",
              "type": "number",
              "value": "={{ $json.output.nonRenewablePercentage }}"
            },
            {
              "id": "id-4",
              "name": "energyEfficiencyScore",
              "type": "number",
              "value": "={{ $json.output.energyEfficiencyScore }}"
            },
            {
              "id": "id-5",
              "name": "carbonFootprintKg",
              "type": "number",
              "value": "={{ $json.output.carbonFootprintKg }}"
            },
            {
              "id": "id-6",
              "name": "policyComplianceStatus",
              "type": "string",
              "value": "={{ $json.output.policyComplianceStatus }}"
            },
            {
              "id": "id-7",
              "name": "forecastedDemandKwh",
              "type": "number",
              "value": "={{ $json.output.forecastedDemandKwh }}"
            },
            {
              "id": "id-8",
              "name": "availableRenewableKwh",
              "type": "number",
              "value": "={{ $json.output.availableRenewableKwh }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bfcd2f86-5138-4e7f-ab96-8c9257cfc7a5",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.set",
      "position": [
        2800,
        1104
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Setup Steps\n1. Import workflow; configure the Energy Analysis Schedule trigger interval.\n2. Set API endpoint URLs for Fetch Weather Data, Fetch Energy Demand, and Fetch Renewable Generation nodes.\n3. Add AI model credentials to the Agents.\n4. Connect Slack credentials to the Send Sustainability Alert node.\n5. Link Gmail credentials to the Email Performance Dashboard node.\n6. Link Google Sheets credentials; set the sheet ID for the Energy KPIs tab.",
        "height": 224,
        "width": 544
      },
      "id": "7e5c76e5-4f0c-4e30-9020-2eb81319d97a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How It Works\nThis workflow automates energy portfolio governance for energy managers, sustainability teams, and policy compliance officers. It eliminates the manual effort of aggregating multi-source energy data, applying forecasting and optimisation logic, and distributing performance outcomes to stakeholders. Three scheduled API feeds, weather data, energy demand, and renewable generation, are combined into a unified dataset. The Energy Governance Agent, backed by shared memory and a governance model, coordinates three specialist agents: a Renewable Forecasting Agent (predictive generation modelling), a Weather Analysis Agent (climate-adjusted demand assessment), and a Policy Compliance Agent (regulatory alignment checking). Five tools support the orchestration: an Energy Calculator, Optimisation Algorithm Tool, External Data API Tool, Sustainability Research Tool, and Structured KPI Output parser. Results are distributed across three outputs, a Slack sustainability alert, a Gmail performance dashboard email, and a Google Sheets KPI store, giving stakeholders immediate, channel-appropriate visibility into energy governance outcomes.",
        "height": 336,
        "width": 656
      },
      "id": "ed5d9ac9-4772-4ea2-acc1-83df6b5b3dc6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Prerequisites\n- OpenAI API key (or compatible LLM)\n- Slack workspace with bot credentials\n- Gmail account with OAuth credentials\n- Google Sheets with Energy KPIs tab pre-created\n## Use Cases\n- Energy managers automating renewable generation forecasting against real-time demand data\n## Customisation\n- Swap the Optimisation Algorithm Tool parameters to target carbon intensity, cost, or grid stability objectives\n## Benefits\n- Parallel triple-source ingestion ensures governance decisions are based on complete, synchronised energy data",
        "height": 416,
        "width": 624,
        "color": 6
      },
      "id": "13cc82b0-eab4-4d0e-ba3c-9ca0eac32f81",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send Sustainability Alert, Email Dashboard & Store Energy KPIs\n**Why** — Distributes governance outcomes via Slack alerts, Gmail dashboards, and Google Sheets KPI logs to keep all stakeholders informed without manual reporting.",
        "height": 976,
        "width": 480,
        "color": 7
      },
      "id": "0a084172-9c7b-4f1f-a679-46c3371ebd7f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## Energy Calculator, Optimisation & External Data Tools\n**Why** — Applies quantitative calculation, algorithmic optimisation, and live external data enrichment to produce governance-grade energy recommendations.",
        "height": 864,
        "width": 1216,
        "color": 7
      },
      "id": "8998bbf3-4f53-4d1c-a58e-7c469c89c733",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Energy Governance Agent & Specialist Agents\n**Why** — Coordinates Renewable Forecasting, Weather Analysis, and Policy Compliance agents using shared memory, enabling context-aware optimisation across all energy dimensions simultaneously.",
        "height": 896,
        "width": 1056,
        "color": 7
      },
      "id": "2570a8a9-4e1f-445e-a277-80d70530b1a3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2288,
        1264
      ],
      "id": "55ddc9aa-40b0-41f7-884a-01c39ecafc3e",
      "name": "AI Agent Tool"
    }
  ],
  "connections": {
    "Policy Model": {
      "ai_languageModel": [
        [
          {
            "node": "Policy Compliance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Weather Model": {
      "ai_languageModel": [
        [
          {
            "node": "Weather Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Governance Model": {
      "ai_languageModel": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Energy Calculator": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Forecasting Model": {
      "ai_languageModel": [
        [
          {
            "node": "Renewable Forecasting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather Data": {
      "main": [
        [
          {
            "node": "Combine Energy Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Store Energy KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Energy Data": {
      "main": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Energy Demand": {
      "main": [
        [
          {
            "node": "Combine Energy Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured KPI Output": {
      "ai_outputParser": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "External Data API Tool": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather Analysis Agent": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Energy Governance Agent": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Sustainability Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Performance Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Compliance Agent": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Energy Analysis Schedule": {
      "main": [
        [
          {
            "node": "Fetch Weather Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Energy Demand",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Renewable Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Renewable Generation": {
      "main": [
        [
          {
            "node": "Combine Energy Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Optimization Algorithm Tool": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Renewable Forecasting Agent": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sustainability Research Tool": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Energy Governance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateId": "14438"
  },
  "pinData": {},
  "versionId": "7d389b6f-ffda-4700-9fc6-ae298cc7138d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-12T15:34:10.518Z",
      "createdAt": "2026-04-12T15:34:10.518Z",
      "role": "workflow:owner",
      "workflowId": "8lVrktIDVAcoWjMc",
      "projectId": "HkvQcrCdALIwWQwD"
    }
  ],
  "activeVersion": null,
  "tags": []
}