hotel-auto-respond_gemini_3_flash_preview-.json
{
  "updatedAt": "2026-02-26T10:00:47.990Z",
  "createdAt": "2026-02-26T09:46:20.735Z",
  "id": "mpMqUrXgoPKxLiep",
  "name": "Hotel Auto Respond_Gemini_3_Flash_Preview",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": { \"type\": \"boolean\" },\n    \"reason\": { \"type\": \"string\" },\n    \"category\": { \"type\": \"string\" },\n    \"urgency\": { \"type\": \"string\" }\n  },\n  \"required\": [\"needsReply\"]\n}",
        "autoFix": true
      },
      "id": "b4543e2e-ad98-4fb5-ab1e-8683968c15fe",
      "name": "JSON Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        768,
        1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Assesing whether the mail needs a reply or not",
        "height": 592,
        "width": 624,
        "color": 4
      },
      "id": "9528c301-1250-4b3f-b394-195bc4c2bb71",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Selecting only the mails that need a reply",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "id": "8574a97b-06c9-4c9f-add8-47cb57fb6a12",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## RAG Agent",
        "height": 208,
        "width": 304,
        "color": 5
      },
      "id": "e064eaac-0cb8-4b46-99be-1d8db9490c27",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Email Subject: {{ $('Receive Email from Gmail').item.json.subject }}\nCustomer Name: {{ $('Receive Email from Gmail').item.json.from }}\nCustomer Message: {{ $('Receive Email from Gmail').item.json.text }}\n\nPlease search the knowledge base and reply to this customer inquiry.",
        "options": {
          "systemMessage": "=You are a professional hotel customer support representative.\n\nSTRICT RULES - YOU MUST FOLLOW:\n1. ALWAYS call the knowledge base tool first\n2. ONLY use facts returned by the tool - nothing else\n3. If the tool returns no results, reply ONLY with:\n   \"Thank you for your inquiry. Our team will follow up with you shortly.\"\n4. NEVER use your own knowledge or training data to answer\n5. NEVER guess or assume any hotel policies, prices, or details\n6. If you are about to answer without calling the tool - STOP and call the tool first\n\nAfter getting tool results:\n- Rephrase the answer in natural, warm, professional sentences\n- Do NOT copy word for word\n- Do NOT add any extra information not in the tool results\n- Do NOT use phrases like \"We are pleased to inform you\" or \"I am happy to inform you\"\n- Keep answer to 2-4 sentences\n\nAlways reply using this exact HTML format:\n\n<p>Dear [guest name or \"Valued Guest\"],</p>\n\n<p>Thank you for reaching out to us.</p>\n\n<p>[Rephrased answer using ONLY tool results]</p>\n\n<p>If you have any further questions, please don't hesitate to reach out.</p>\n\n<p>Warm regards,<br>\nHotel Support Team<br>\n📞 +XX-XXXX-XXXX<br>\n🌐 <a href=\"http://www.yourhotel.com\">www.yourhotel.com</a></p>\n\n<p>By Gemini_3_Flash_Preview</p>"
        }
      },
      "id": "952f4e16-bfde-4d13-9e05-321e1919d5ca",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1680,
        1728
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "content": "## Sending a Reply",
        "height": 240,
        "width": 224,
        "color": 4
      },
      "id": "bdca6470-e82d-4873-964c-b1f4e129c7fd",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "-from:me"
        },
        "options": {}
      },
      "id": "69cfb18a-d282-437a-abc5-8317c8bddde1",
      "name": "Receive Email from Gmail",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        256,
        1760
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "PxWNojtMdxyKEMQe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Receive Email from Gmail').item.json.id }}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2096,
        1648
      ],
      "id": "396050c0-d566-43f1-b853-0870e408f42f",
      "name": "Reply to the email",
      "webhookId": "033f20da-92f7-4d2a-86bc-890ec85440d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "PxWNojtMdxyKEMQe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        1888
      ],
      "id": "7d85a16c-30e6-4f35-bd7e-c80ce5439c80",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=You are a hotel customer support email classifier.\nAnalyze the following email and decide if it needs a reply.\n\nEmail Subject: {{ $input.item.json.subject }}\nEmail From: {{ $input.item.json.from }}\nEmail Body: {{ $input.item.json.text }}\n\nReply ONLY with valid JSON, no extra text, no markdown:\n{\n  \"needsReply\": true or false,\n  \"reason\": \"short reason\",\n  \"category\": \"category name\",\n  \"urgency\": \"low/medium/high\"\n}\n\nSet needsReply to FALSE if:\n- Just a thank you (\"Thank you\", \"Thanks!\", \"Great, thanks\", \"Appreciated\", \"Thank you so much\")\n- Customer replying \"thank you\" to a previous support reply\n- Acknowledgement only (\"Got it\", \"Ok noted\", \"Sure\", \"Understood\")\n- Auto-reply, out-of-office, or no-reply sender\n- Newsletter, promotional, or marketing email\n- Spam or irrelevant content\n- Previous reply from our own support team (check if sender is our domain)\n- Any email with no question or request\n\nSet needsReply to TRUE if:\n- Asking about room availability, pricing, or promotions\n- Making, modifying, or cancelling a reservation\n- Complaint or negative feedback requiring resolution\n- Asking about hotel facilities, services, or amenities\n- Check-in or check-out related questions\n- Billing, payment, or invoice questions\n- Special requests (e.g. dietary needs, accessibility, early check-in)\n- Lost and found inquiries\n- Any question needing a specific answer\n\nSet urgency to \"high\" if:\n- Guest is currently checked in with an issue\n- Complaint requiring immediate attention\n- Same-day or next-day arrival question\n\nSet urgency to \"medium\" if:\n- Reservation inquiry within the next 7 days\n- Billing dispute\n\nSet urgency to \"low\" if:\n- General questions\n- Future reservations beyond 7 days\n- General feedback\n\nSet category to one of:\n\"Reservation\", \"Check-in/Check-out\", \"Billing\", \n\"Facilities\", \"Complaint\", \"Special Request\", \"General\""
      },
      "id": "aa045d1a-da63-4a50-8de3-0b6f04362061",
      "name": "Assess if message needs a reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        656,
        1728
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "53849246-ad32-4845-9976-9f9688f5a6f2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.needsReply }}",
              "rightValue": "true"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f263fbcb-c3b9-4f58-92a9-5e8ff986cf33",
      "name": "If Needs Reply",
      "type": "n8n-nodes-base.if",
      "position": [
        1264,
        1776
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        1952
      ],
      "id": "82904bab-efaa-45b9-9ee6-09f3f3634680",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the hotel FAQ knowledge base to answer guest questions. \nAlways pass the customer's question as the \"input\" parameter.\nUse this for questions about reservations, check-in, check-out, room amenities, billing, facilities and hotel services.",
        "tableName": "hcs_kb_001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1824,
        1952
      ],
      "id": "7a63e4e2-0b14-4852-a295-53b6262bea6d",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "8mGoTo12vHwO29yd",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1824,
        2112
      ],
      "id": "90a38241-44b7-4de4-8c3e-3b4456864400",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        2064
      ],
      "id": "3d5bb999-f6a9-4946-81c8-6395e029a81f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to the email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Email from Gmail": {
      "main": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assess if message needs a reply": {
      "main": [
        [
          {
            "node": "If Needs Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Reply": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "JSON Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Receive Email from Gmail": {
      "lastTimeChecked": 1772099121
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3e5c79d6-3278-49a9-a736-c535d0c347ec",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T09:46:20.735Z",
      "createdAt": "2026-02-26T09:46:20.735Z",
      "role": "workflow:owner",
      "workflowId": "mpMqUrXgoPKxLiep",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}