hotel-customer-support---auto-respond-(gemini-file-search)---gemini_2.5_flash_preview-.json
{
  "updatedAt": "2026-03-07T04:28:14.246Z",
  "createdAt": "2026-03-04T10:45:29.742Z",
  "id": "ef8wXe2ClIq4r6ej",
  "name": "Hotel Customer Support - Auto Respond (Gemini File Search) - Gemini_2.5_Flash_Preview",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Assesing whether the mail needs a reply or not",
        "height": 592,
        "width": 624,
        "color": 4
      },
      "id": "65dcd5de-a69c-417a-a1ab-9e77b3369734",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        2304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Selecting only the mails that need a reply",
        "height": 384,
        "width": 496,
        "color": 3
      },
      "id": "12d83c9b-9d14-4ab4-99b1-0491f80e1431",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        2480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Gemini-2.5-Flash",
        "height": 80,
        "width": 224,
        "color": "#F1E2F9"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        2496
      ],
      "id": "aa092ba9-35bd-4e94-ac39-3992461441ca",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Sending a Reply",
        "height": 256,
        "color": 4
      },
      "id": "cf3eb4b6-aace-465d-bbd0-1a24143e5454",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        1952
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        2480
      ],
      "id": "636c91f1-e39a-4ba0-ac4f-350b9ff40b79",
      "name": "Schedule Trigger Gmail - Gemini FS",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 500,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -528,
        2480
      ],
      "id": "53f675bd-0aa3-4a8b-afd3-859efe4b8586",
      "name": "Get Many Messages - Gemini FS",
      "webhookId": "04f7d53d-589a-422b-8838-9a0f245992cc",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "oa22yNKV1n7ZBlbL",
          "name": "Gmail account - kohxl.w@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "580dbf67-cd1a-4c4a-9d9d-477737e54ef6",
              "name": "time_received",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        2480
      ],
      "id": "b8fe2281-b2dc-4006-aa23-2ff158445d9a",
      "name": "Set Time Received - Gemini FS",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        2592
      ],
      "id": "ab0bd55b-dc59-4a01-a1d1-8ce6e7fe33e7",
      "name": "Google Gemini Chat Model - Gemini FS",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api - GeminiFileSearch(Bulk)"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "LLM that runs the classification prompt — it reads the email and decides needsReply, category, urgency, etc"
    },
    {
      "parameters": {
        "prompt": "=You are a hotel customer support email classifier.\nAnalyze the following email and decide if it needs a reply.\n\nEmail Subject: {{ $input.item.json.Subject }}\nEmail From: {{ $input.item.json.From }}\nEmail Body: {{ $input.item.json.snippet }}\n\nReply ONLY with valid JSON, no extra text, no markdown:\n{\n  \"needsReply\": true or false,\n  \"reason\": \"short reason\",\n  \"category\": \"category name\",\n  \"urgency\": \"low/medium/high\"\n}\n\nSet needsReply to FALSE if:\n- Just a thank you (\"Thank you\", \"Thanks!\", \"Great, thanks\", \"Appreciated\", \"Thank you so much\")\n- Customer replying \"thank you\" to a previous support reply\n- Acknowledgement only (\"Got it\", \"Ok noted\", \"Sure\", \"Understood\")\n- Auto-reply, out-of-office, or no-reply sender\n- Newsletter, promotional, or marketing email\n- Spam or irrelevant content\n- Previous reply from our own support team (check if sender is our domain)\n- Any email with no question or request\n\nSet needsReply to TRUE if:\n- Asking about room availability, pricing, or promotions\n- Making, modifying, or cancelling a reservation\n- Complaint or negative feedback requiring resolution\n- Asking about hotel facilities, services, or amenities\n- Check-in or check-out related questions\n- Billing, payment, or invoice questions\n- Special requests (e.g. dietary needs, accessibility, early check-in)\n- Lost and found inquiries\n- Any question needing a specific answer\n\nSet urgency to \"high\" if:\n- Guest is currently checked in with an issue\n- Complaint requiring immediate attention\n- Same-day or next-day arrival question\n\nSet urgency to \"medium\" if:\n- Reservation inquiry within the next 7 days\n- Billing dispute\n\nSet urgency to \"low\" if:\n- General questions\n- Future reservations beyond 7 days\n- General feedback\n\nSet category to one of:\n\"Reservation\", \"Check-in/Check-out\", \"Billing\", \n\"Facilities\", \"Complaint\", \"Special Request\", \"General\""
      },
      "id": "e3eface0-a0ca-4695-9001-682c2251dbd0",
      "name": "Assess if message needs a reply - Gemini FS",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        240,
        2384
      ],
      "typeVersion": 1.3,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": { \"type\": \"boolean\" },\n    \"reason\": { \"type\": \"string\" },\n    \"category\": { \"type\": \"string\" },\n    \"urgency\": { \"type\": \"string\" }\n  },\n  \"required\": [\"needsReply\"]\n}",
        "autoFix": true
      },
      "id": "3a30577c-72bb-4ce2-ae30-dae2866fd4f2",
      "name": "JSON Parser - Gemini FS",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        400,
        2576
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=A customer has sent the following email. Follow your instructions and reply now.\n\nSubject: {{ $('Get Many Messages - Gemini FS').item.json.Subject }}\nFrom: {{ $('Get Many Messages - Gemini FS').item.json.From }}\nMessage: {{ $('Get Many Messages - Gemini FS').item.json.snippet }}"
            },
            {
              "content": "RESPOND IMMEDIATELY. Do not think out loud. Do not repeat instructions.\nCall File Search once, then write the final HTML reply only. No reasoning, no commentary.\nYou are a professional hotel customer support representative.\n\nSTRICT RULES:\n1. ALWAYS use the File Search tool to find answers first\n2. ONLY use facts returned by the File Search tool\n3. NEVER use your own knowledge or training data\n4. NEVER guess or assume any hotel policies, prices, or details\n\nLANGUAGE DETECTION:\n- Detect the language of the customer's email\n- ALWAYS reply in the SAME language the customer used\n- The knowledge base is in English — search it in English, but reply in the customer's language\n- NEVER default to English unless the customer writes in English\n- CRITICAL: Every single word in the reply must be in the detected language\n- This includes: greeting, thank-you line, answer, closing line, sign-off words like \"Warm regards\" and \"Hotel Support Team\"\n- Zero English words are allowed if the customer did not write in English\n\nMIXED LANGUAGE EMAILS:\n- Identify which language the QUESTION is written in and reply in that language\n- If truly unclear → default to English\n\nSTEP 1 - CHECK IF QUESTION IS HOTEL-RELATED:\nHotel-related topics: reservations, check-in/out, room types, billing, facilities, special requests, lost and found, nearby attractions, transport, anything about the hotel stay.\n\nIf NOT hotel-related, write a reply in the DETECTED LANGUAGE using this structure:\n- Greeting with guest name or \"Valued Guest\"\n- Thank the guest for contacting us\n- Explain you can only assist with hotel-related inquiries\n- Invite them to reach out for hotel questions\n- Sign off with contact details below\n\nIf HOTEL-RELATED but File Search returns no results, write a reply in the DETECTED LANGUAGE using this structure:\n- Greeting with guest name or \"Valued Guest\"\n- Thank the guest for their inquiry\n- Say the team will follow up shortly\n- Sign off with contact details below\n\nSTEP 2 - IF HOTEL-RELATED, USE FILE SEARCH:\n- Search using the customer's question in ENGLISH\n- Rephrase naturally, do NOT copy word for word\n- Do NOT add information not in File Search results\n- Do NOT use \"We are pleased to inform you\" or \"I am happy to inform you\"\n- Keep answers to 1-2 sentences per question\n\nSTEP 3 - DETECT EMAIL FORMAT:\n- Single question or paragraph → use single answer format\n- Multiple questions in point form → use numbered format with blue bold questions\n\nSINGLE QUESTION FORMAT:\nBuild the full reply in the DETECTED LANGUAGE using this structure:\n- Greeting with guest name or \"Valued Guest\"\n- Thank the guest for reaching out\n- Answer\n- Invite further questions\n- Sign off\n\nOutput as HTML:\n<p>[DETECTED LANGUAGE: Greeting + guest name]</p>\n<p>[DETECTED LANGUAGE: Thank guest for reaching out]</p>\n<p>[DETECTED LANGUAGE: Answer]</p>\n<p>[DETECTED LANGUAGE: Invite further questions]</p>\n<p>[DETECTED LANGUAGE: Warm regards equivalent]<br>\n[DETECTED LANGUAGE: Hotel Support Team equivalent]<br>\n📞 +XX-XXXX-XXXX<br>\n🌐 <a href=\"http://www.yourhotel.com\">www.yourhotel.com</a></p>\n<p>By Gemini_2.5_Flash</p>\n<p>Gemini File Search</p>\nLANGUAGE_DETECTED: [language name]\n\nMULTIPLE QUESTIONS FORMAT:\nBuild the full reply in the DETECTED LANGUAGE using this structure:\n- Greeting with guest name or \"Valued Guest\"\n- Thank the guest and say answers are below\n- Numbered answers with blue bold questions\n- Invite further questions\n- Sign off\n\nOutput as HTML:\n<p>[DETECTED LANGUAGE: Greeting + guest name]</p>\n<p>[DETECTED LANGUAGE: Thank guest, answers below]</p>\n<p><strong style=\"color:#1a73e8;\">1. [DETECTED LANGUAGE: Question]</strong><br>[DETECTED LANGUAGE: Answer]</p>\n<p><strong style=\"color:#1a73e8;\">2. [DETECTED LANGUAGE: Question]</strong><br>[DETECTED LANGUAGE: Answer]</p>\n<p>[DETECTED LANGUAGE: Invite further questions]</p>\n<p>[DETECTED LANGUAGE: Warm regards equivalent]<br>\n[DETECTED LANGUAGE: Hotel Support Team equivalent]<br>\n📞 +XX-XXXX-XXXX<br>\n🌐 <a href=\"http://www.yourhotel.com\">www.yourhotel.com</a></p>\n<p>By Gemini_2.5_Flash</p>\n<p>Gemini File Search</p>\nLANGUAGE_DETECTED: [language name]\n\nBEFORE OUTPUTTING, VERIFY SILENTLY:\n- Is every single line in the customer's language — greeting, answer, closing, sign-off?\n- Are there any English words remaining (if customer did not write in English)? If yes, translate them.\n- Are all answers based only on File Search results?\n- Is the format correct (single vs multiple)?\n- Is LANGUAGE_DETECTED tag included?\n\nThen output the final HTML reply ONLY. No checklist, no commentary, no extra text.",
              "role": "model"
            }
          ]
        },
        "builtInTools": {
          "fileSearch": {
            "fileSearchStoreNames": "[\"fileSearchStores/hotelcustomersupport-alagzxro9jne\"]"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1648,
        2560
      ],
      "id": "eeb07cd5-e243-432e-b80c-bd0b5837f1c9",
      "name": "Message Model - Gemini FS",
      "alwaysOutputData": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api - GeminiFileSearch(Bulk)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.content;\n\n// Guard against empty/undefined Gemini response (safety filter or API error)\nif (!content || !content.parts || content.parts.length === 0) {\n  return {\n    json: {\n      ...$input.item.json,\n      language_detected: 'unknown',\n      ai_response: '',\n      status: 'skipped'\n    }\n  };\n}\n\nconst parts = content.parts;\n\n// Safely find the HTML reply part (contains <p> and LANGUAGE_DETECTED)\nconst replyPart = parts.find(p => \n  p.text && \n  p.text.includes('<p>') && \n  p.text.includes('LANGUAGE_DETECTED')\n) || parts[2] || parts[1]; // fallback\n\nlet output = replyPart ? replyPart.text : '';\n\n// Strip *** BEGIN/END FINAL REPLY *** markers — extract only the reply content\nconst finalReplyMatch = output.match(/\\*{3}\\s*BEGIN FINAL REPLY\\s*\\*{3}([\\s\\S]*?)\\*{3}\\s*END FINAL REPLY\\s*\\*{3}/);\nif (finalReplyMatch) {\n  output = finalReplyMatch[1].trim();\n}\n\n// Extract language\nconst langMatch = output.match(/LANGUAGE_DETECTED:\\s*(.+)/);\nconst language_detected = langMatch ? langMatch[1].trim() : 'English';\n\n// Remove the LANGUAGE_DETECTED tag from the HTML\nconst ai_response = output.replace(/LANGUAGE_DETECTED:.+/, '').trim();\n\nreturn {\n  json: {\n    ...$input.item.json,\n    language_detected,\n    ai_response,\n    status: 'sent'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        2224
      ],
      "id": "d05ae789-643f-4abb-94ca-4ebff11dc218",
      "name": "Code in JavaScript - Gemini FS",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Guard — If Gemini returned empty/undefined response, skip processing and pass through with blank ai_response and language_detected: 'unknown'\nExtract — Find the correct reply part from Gemini's raw response, specifically the section between *** BEGIN FINAL REPLY *** and *** END FINAL REPLY ***, stripping away any leaked prompt instructions\nParse — Pull out the LANGUAGE_DETECTED tag from the reply, then remove it from the final HTML so it doesn't appear in the email sent to the customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f667e5d-ee75-448b-b89d-37d1c7539e59",
              "name": "time_reply_generated",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        2016
      ],
      "id": "548781a9-b295-4b42-99f1-e47b06302ae5",
      "name": "Set After Reply - Gemini FS",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Get Many Messages - Gemini FS').item.json.id }}",
        "message": "={{ $('Code in JavaScript - Gemini FS').item.json.ai_response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2688,
        2032
      ],
      "id": "1dabb54e-c48d-4a97-b57e-49a3efbec03b",
      "name": "Reply to the email - Gemini FS",
      "webhookId": "7e635eab-5e72-49af-874a-6d4e73e4f6a1",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "oa22yNKV1n7ZBlbL",
          "name": "Gmail account - kohxl.w@gmail.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d3c39a2-0086-4a18-b1c5-0694eba70d91",
              "name": "time_reply_sent",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "72185b25-6ca8-49ce-8f47-db8a29ba7d6d",
              "name": "email_id",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.email_id }}",
              "type": "string"
            },
            {
              "id": "01924dab-55e4-4807-bba4-a441b3eec608",
              "name": "threadId",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "a895b191-7152-4e7b-9fc0-f1074fee47a5",
              "name": "customer_email",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.customer_email }}",
              "type": "string"
            },
            {
              "id": "85584694-4732-4047-9780-acb712a3f132",
              "name": "subject",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "1ce3589c-d31e-4623-bc9a-12253aa02ae6",
              "name": "customer_message",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.customer_message }}",
              "type": "string"
            },
            {
              "id": "d4c48bcb-34a4-4ec6-ba72-60d0aca05124",
              "name": "needs_reply",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.needs_reply }}",
              "type": "string"
            },
            {
              "id": "b0c248b4-14d6-4157-b657-8cfc4810a3f0",
              "name": "category",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.category }}",
              "type": "string"
            },
            {
              "id": "4111cb18-9664-4b2e-a3fe-9fe36a0e29c3",
              "name": "urgency",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "32ce29cb-1246-40c5-9781-d066807e7dd8",
              "name": "time_received",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.time_received }}",
              "type": "string"
            },
            {
              "id": "760b29d5-efa0-4cb3-ae03-3d20a8f843f9",
              "name": "time_classification_done",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.time_classification_done }}",
              "type": "string"
            },
            {
              "id": "03cf726e-74e7-4aa8-a0b5-c2f034b00f22",
              "name": "language_detected",
              "value": "={{ $('Code in JavaScript - Gemini FS').item.json.language_detected }}",
              "type": "string"
            },
            {
              "id": "2472efe0-6141-451e-b6fa-d701a145a545",
              "name": "ai_response",
              "value": "={{ $('Code in JavaScript - Gemini FS').item.json.ai_response }}",
              "type": "string"
            },
            {
              "id": "aac9e169-1c8e-4611-a4cc-7bce8ac70fc3",
              "name": "status",
              "value": "={{ $('Code in JavaScript - Gemini FS').item.json.status }}",
              "type": "string"
            },
            {
              "id": "0317855f-cf3e-486d-a4ce-5a1227083a32",
              "name": "time_reply_generated",
              "value": "={{ $('Set After Reply - Gemini FS').item.json.time_reply_generated }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3456,
        1968
      ],
      "id": "46613ec4-5787-444b-8610-e5e365e2a8fa",
      "name": "Set After Reply Sent - Gemini FS"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "email_comparison_logs",
          "mode": "list",
          "cachedResultName": "email_comparison_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "needs_reply": "={{ $json.needs_reply }}",
            "generation_seconds": "={{ $json.time_reply_generated && $json.time_classification_done ? (new Date($json.time_reply_generated) - new Date($json.time_classification_done)) / 1000 : null }}",
            "total_seconds": "={{ $json.time_received ? (new Date() - new Date($json.time_received)) / 1000 : null }}",
            "category": "={{ $json.category }}",
            "urgency": "={{ $json.urgency }}",
            "threadId": "={{ $json.threadId }}",
            "email_id": "={{ $json.email_id }}",
            "customer_email": "={{ $json.customer_email }}",
            "subject": "={{ $json.subject }}",
            "customer_message": "={{ $json.customer_message }}",
            "approach": "Gemini File Search",
            "time_received": "={{ $json.time_received }}",
            "time_classification_done": "={{ $json.time_classification_done }}",
            "language_detected": "={{ $json.language_detected ?? 'unknown' }}",
            "model_used": "Gemini_2.5_Flash",
            "time_reply_generated": "={{ $json.time_reply_generated ?? null }}",
            "ai_response": "={{ $json.ai_response ?? '' }}",
            "time_reply_sent": "={{ $json.time_reply_sent ?? null }}",
            "status": "={{ $json.status }}",
            "classification_seconds": "={{ $json.time_classification_done && $json.time_received ? (new Date($json.time_classification_done) - new Date($json.time_received)) / 1000 : null }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_message",
              "displayName": "customer_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language_detected",
              "displayName": "language_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_reply",
              "displayName": "needs_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "approach",
              "displayName": "approach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model_used",
              "displayName": "model_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_received",
              "displayName": "time_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_classification_done",
              "displayName": "time_classification_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_reply_generated",
              "displayName": "time_reply_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_reply_sent",
              "displayName": "time_reply_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification_seconds",
              "displayName": "classification_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_seconds",
              "displayName": "generation_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_seconds",
              "displayName": "total_seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_response",
              "displayName": "ai_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3872,
        2512
      ],
      "id": "2e7ae803-248f-4f9d-b154-85cfc022ae07",
      "name": "Postgres Log - Gemini FS",
      "credentials": {
        "postgres": {
          "id": "XF2BVuSFwwWW0soK",
          "name": "Postgres Account - Writer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "00bd92f8-df42-4238-912d-48887b19382c",
              "leftValue": "={{ $json.ai_response !== '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2176,
        2112
      ],
      "id": "5060939e-731c-46c0-986e-403db096bbda",
      "name": "If Node - Gemini FS"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        2736
      ],
      "id": "669a1d8e-73f8-41a6-926a-88522681f420",
      "name": "Google Gemini Chat Model - Gemini FS (JSON)",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "fWa8nrFVTByaSTxH",
          "name": "Google Gemini(PaLM) Api - GeminiFileSearch(Bulk)"
        }
      },
      "notes": "LLM that powers the autoFix feature in the JSON Parser — if Gemini FS returns malformed JSON (e.g. wrapped in markdown, extra text), this model is called to clean and reparse it into valid JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "53849246-ad32-4845-9976-9f9688f5a6f2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Assess if message needs a reply - Gemini FS').item.json.needsReply }}",
              "rightValue": "true"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ee17e711-03e4-43d3-8539-06b08025d479",
      "name": "If Needs Reply - Gemini FS",
      "type": "n8n-nodes-base.if",
      "position": [
        1168,
        2576
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78f81c20-7158-425a-9bd4-fb092388b4e9",
              "name": "time_classification_done",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "dbe4cc7b-fe36-4a95-a090-290d440b3afb",
              "name": "email_id",
              "value": "={{ $('Get Many Messages - Gemini FS').item.json.id }}",
              "type": "string"
            },
            {
              "id": "84ff8e4f-4de1-44b7-b419-b5b05f714976",
              "name": "threadId",
              "value": "={{ $('Get Many Messages - Gemini FS').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "5a4dfc2a-bbe7-4095-bb93-9ed9d9e4256d",
              "name": "customer_email",
              "value": "={{ $('Get Many Messages - Gemini FS').item.json.From }}",
              "type": "string"
            },
            {
              "id": "ed822719-b098-4b95-8592-53ba797eb372",
              "name": "subject",
              "value": "={{ $('Get Many Messages - Gemini FS').item.json.Subject }}",
              "type": "string"
            },
            {
              "id": "d31edc42-b426-4646-bc0f-922641ef6fc5",
              "name": "customer_message",
              "value": "={{ $('Get Many Messages - Gemini FS').item.json.snippet }}",
              "type": "string"
            },
            {
              "id": "aef8108a-917f-4a60-873b-7a0f464be883",
              "name": "urgency",
              "value": "={{ $('Assess if message needs a reply - Gemini FS').item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "73c0ab8b-fccb-492c-b369-83d91f466138",
              "name": "time_received",
              "value": "={{ $('Set Time Received - Gemini FS').item.json.time_received }}",
              "type": "string"
            },
            {
              "id": "29486f50-76e5-453e-bf98-f3a05d2e6043",
              "name": "category",
              "value": "={{ $('Assess if message needs a reply - Gemini FS').item.json.category }}",
              "type": "string"
            },
            {
              "id": "e0453730-33fb-46e6-8b21-4837bf964d17",
              "name": "needs_reply",
              "value": "={{ $('Assess if message needs a reply - Gemini FS').item.json.needsReply }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        2480
      ],
      "id": "84b3bbb4-20bc-4e88-8050-02f67e12a98a",
      "name": "Set After Classification - Gemini FS",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get Many Messages - Gemini FS').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3040,
        1984
      ],
      "id": "bb41fd66-5a0d-4496-86b1-17efe6d41fcf",
      "name": "Mark a message as read - Gemini FS (Reply Email)",
      "webhookId": "4e0cd5e3-3c87-4f2d-8037-e4b48aca37fb",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "oa22yNKV1n7ZBlbL",
          "name": "Gmail account - kohxl.w@gmail.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get Many Messages - Gemini FS').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1360,
        2672
      ],
      "id": "c22e35e7-d4fa-4693-b8f4-01428c7b7fc1",
      "name": "Mark a message as read - Gemini FS (Need Reply)",
      "webhookId": "6e701d3f-5645-4aa0-912a-15edc5879030",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "oa22yNKV1n7ZBlbL",
          "name": "Gmail account - kohxl.w@gmail.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72893e42-b414-4ffa-a516-7c4c0b7b3e02",
              "name": "status",
              "value": "no_reply_needed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        2768
      ],
      "id": "8b0dc302-5166-4602-b7c6-6a6cd5837ae8",
      "name": "Set Status - No Reply Needed - Gemini FS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e833e05-ff4f-453a-9fa9-7fea87321eab",
              "name": "status",
              "value": "gemini_error",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        2560
      ],
      "id": "b0747a47-974e-4b4e-b23b-24e6223162f4",
      "name": "Set Status - Gemini Error - Gemini FS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d3c39a2-0086-4a18-b1c5-0694eba70d91",
              "name": "time_reply_sent",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "72185b25-6ca8-49ce-8f47-db8a29ba7d6d",
              "name": "email_id",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.email_id }}",
              "type": "string"
            },
            {
              "id": "01924dab-55e4-4807-bba4-a441b3eec608",
              "name": "threadId",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "a895b191-7152-4e7b-9fc0-f1074fee47a5",
              "name": "customer_email",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.customer_email }}",
              "type": "string"
            },
            {
              "id": "85584694-4732-4047-9780-acb712a3f132",
              "name": "subject",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "1ce3589c-d31e-4623-bc9a-12253aa02ae6",
              "name": "customer_message",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.customer_message }}",
              "type": "string"
            },
            {
              "id": "d4c48bcb-34a4-4ec6-ba72-60d0aca05124",
              "name": "needs_reply",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.needs_reply }}",
              "type": "string"
            },
            {
              "id": "b0c248b4-14d6-4157-b657-8cfc4810a3f0",
              "name": "category",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.category }}",
              "type": "string"
            },
            {
              "id": "4111cb18-9664-4b2e-a3fe-9fe36a0e29c3",
              "name": "urgency",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "32ce29cb-1246-40c5-9781-d066807e7dd8",
              "name": "time_received",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.time_received }}",
              "type": "string"
            },
            {
              "id": "760b29d5-efa0-4cb3-ae03-3d20a8f843f9",
              "name": "time_classification_done",
              "value": "={{ $('Set After Classification - Gemini FS').item.json.time_classification_done }}",
              "type": "string"
            },
            {
              "id": "03cf726e-74e7-4aa8-a0b5-c2f034b00f22",
              "name": "language_detected",
              "value": "={{ $('Code in JavaScript - Gemini FS').item.json.language_detected }}",
              "type": "string"
            },
            {
              "id": "2472efe0-6141-451e-b6fa-d701a145a545",
              "name": "ai_response",
              "value": "={{ $('Code in JavaScript - Gemini FS').item.json.ai_response }}",
              "type": "string"
            },
            {
              "id": "aac9e169-1c8e-4611-a4cc-7bce8ac70fc3",
              "name": "status",
              "value": "={{ $('Code in JavaScript - Gemini FS').item.json.status }}",
              "type": "string"
            },
            {
              "id": "0317855f-cf3e-486d-a4ce-5a1227083a32",
              "name": "time_reply_generated",
              "value": "={{ $('Set After Reply - Gemini FS').item.json.time_reply_generated }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        2192
      ],
      "id": "9527665b-8e99-4c0f-bace-3334277c5e1a",
      "name": "Set Status - Send Failed - Gemini FS"
    }
  ],
  "connections": {
    "Schedule Trigger Gmail - Gemini FS": {
      "main": [
        [
          {
            "node": "Get Many Messages - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Messages - Gemini FS": {
      "main": [
        [
          {
            "node": "Set Time Received - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Time Received - Gemini FS": {
      "main": [
        [
          {
            "node": "Assess if message needs a reply - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model - Gemini FS": {
      "ai_languageModel": [
        [
          {
            "node": "Assess if message needs a reply - Gemini FS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assess if message needs a reply - Gemini FS": {
      "main": [
        [
          {
            "node": "Set After Classification - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parser - Gemini FS": {
      "ai_outputParser": [
        [
          {
            "node": "Assess if message needs a reply - Gemini FS",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message Model - Gemini FS": {
      "main": [
        [
          {
            "node": "Code in JavaScript - Gemini FS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status - Gemini Error - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript - Gemini FS": {
      "main": [
        [
          {
            "node": "If Node - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set After Reply - Gemini FS": {
      "main": [
        [
          {
            "node": "Reply to the email - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to the email - Gemini FS": {
      "main": [
        [
          {
            "node": "Mark a message as read - Gemini FS (Reply Email)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status - Send Failed - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set After Reply Sent - Gemini FS": {
      "main": [
        [
          {
            "node": "Postgres Log - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Node - Gemini FS": {
      "main": [
        [
          {
            "node": "Set After Reply - Gemini FS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Log - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model - Gemini FS (JSON)": {
      "ai_languageModel": [
        [
          {
            "node": "JSON Parser - Gemini FS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Reply - Gemini FS": {
      "main": [
        [
          {
            "node": "Message Model - Gemini FS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read - Gemini FS (Need Reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set After Classification - Gemini FS": {
      "main": [
        [
          {
            "node": "If Needs Reply - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read - Gemini FS (Reply Email)": {
      "main": [
        [
          {
            "node": "Set After Reply Sent - Gemini FS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark a message as read - Gemini FS (Need Reply)": {
      "main": [
        [
          {
            "node": "Set Status - No Reply Needed - Gemini FS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status - No Reply Needed - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status - No Reply Needed - Gemini FS": {
      "main": [
        [
          {
            "node": "Postgres Log - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status - Gemini Error - Gemini FS": {
      "main": [
        [
          {
            "node": "Postgres Log - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status - Send Failed - Gemini FS": {
      "main": [
        [
          {
            "node": "Postgres Log - Gemini FS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 0
  },
  "staticData": {
    "node:Receive Email from Gmail": {
      "lastTimeChecked": 1772605721,
      "possibleDuplicates": [
        "19cb788dc57551da",
        "19cb6c3266195520"
      ]
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger Gmail - Gemini FS": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger Gmail - Gemini FS": [
      {
        "json": {
          "timestamp": "2026-03-05T21:00:31.012+08:00",
          "Readable date": "March 5th 2026, 9:00:31 pm",
          "Readable time": "9:00:31 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "05",
          "Hour": "21",
          "Minute": "00",
          "Second": "31",
          "Timezone": "Asia/Kuala_Lumpur (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "6163ec57-66cc-4a4a-940b-bd69ff6ecaf9",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T10:45:29.742Z",
      "createdAt": "2026-03-04T10:45:29.742Z",
      "role": "workflow:owner",
      "workflowId": "ef8wXe2ClIq4r6ej",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}