lead-form-workflow-.json
{
  "createdAt": "2025-07-17T14:36:01.781Z",
  "updatedAt": "2025-07-17T16:08:04.376Z",
  "id": "Nao5kxQXa5GnX6zr",
  "name": "Lead form workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "schedule_appointment",
        "formTitle": "Schedule an Appointment",
        "formDescription": "Welcome to Jim's Appointment Form.\nBefore we set a date, please tell me a little about yourself and how I can help.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "placeholder": "eg. Sam Smith",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "eg. sam@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Enquiry",
              "fieldType": "textarea",
              "placeholder": "eg. I'm looking for...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": true,
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "id": "f13f228a-d708-4fc6-80a4-78b5492a77a5",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        560,
        360
      ],
      "webhookId": "5e7637dd-d222-4786-8cdc-7b66cebc1481",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Appointment Request Sent!",
        "completionMessage": "=Thank you for submitting an appointment request. A confirmation of this request will be sent to your inbox. I'll get back to you shortly with a confirmation of the appointment.\n\nHere is the summary of the appointment request.\n\nName: {{ $('Get Form Values').item.json.name }}\nDate & Time: {{ DateTime.fromISO($('Get Form Values').item.json.dateTime).format('EEE, dd MMM @ t') }}\nEnquiry: {{ $('Get Form Values').item.json.enquiry.trim() }}\n",
        "options": {
          "formTitle": "Appointment Request Sent!"
        }
      },
      "id": "70a4ee7c-c5e7-431a-a4ea-fb007f4db286",
      "name": "Form End",
      "type": "n8n-nodes-base.form",
      "position": [
        2660,
        380
      ],
      "webhookId": "8fcc907b-bc2e-4fdf-a829-82c83e677724",
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{\n[\n   {\n      \"fieldLabel\":\"Date\",\n      \"requiredField\":true,\n      \"fieldType\": \"dropdown\",\n      \"fieldOptions\":\n        Array(5).fill(0)\n          .map((_,idx) => $now.plus(idx+1, 'day'))\n          .filter(d => !d.isWeekend)\n          .map(d => ({ option: d.format('EEE, d MMM') }))\n   },\n   {\n     \"fieldLabel\": \"Time\",\n     \"requiredField\": true,\n     \"fieldType\": \"dropdown\",\n     \"fieldOptions\": [\n        { \"option\": \"9:00 am\" },\n        { \"option\": \"10:00 am\" },\n        { \"option\": \"11:00 am\" },\n        { \"option\": \"12:00 pm\" },\n        { \"option\": \"1:00 pm\" },\n        { \"option\": \"2:00 pm\" },\n        { \"option\": \"3:00 pm\" },\n        { \"option\": \"4:00 pm\" },\n        { \"option\": \"5:00 pm\" },\n        { \"option\": \"6:00 pm\" }\n     ]\n   }\n]\n}}",
        "options": {
          "formTitle": "Enter a Date & Time",
          "formDescription": "=Please select a date and time"
        }
      },
      "id": "e8058f72-534e-445e-9f1b-2570063b933f",
      "name": "Enter Date & Time",
      "type": "n8n-nodes-base.form",
      "position": [
        1820,
        320
      ],
      "webhookId": "0cd03415-66f8-4c82-8069-5bfd8ea310bd",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  name: $('n8n Form Trigger').first().json['Your Name'],\n  email: $('n8n Form Trigger').first().json.Email,\n  enquiry: $('n8n Form Trigger').first().json.Enquiry,\n  dateTime: DateTime.fromFormat(`${$json.Date} ${$json.Time}`, \"EEE, dd MMM t\"),\n  submittedAt: $('n8n Form Trigger').first().json.submittedAt,\n}\n}}",
        "options": {}
      },
      "id": "528628b3-362a-4e84-b335-759033bba11f",
      "name": "Get Form Values",
      "type": "n8n-nodes-base.set",
      "position": [
        2180,
        380
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please select",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "I accept the terms and conditions"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Before we continue...",
          "formDescription": "=Terms and Conditions for Booking an Appointment\n\nNon-Binding Nature of Discussions:\nAny information shared, discussed, or agreed upon during the call is non-binding and provisional. No agreement, service, or commitment shall be considered confirmed unless explicitly documented and agreed to in writing.\n\nProhibition of Recording and Note-Taking Tools:\nBy proceeding with the appointment, the user agrees not to use AI assistants, note-taking applications, recording devices, or any other technology to record or transcribe the conversation, whether manually or automatically. This is to ensure confidentiality and respect for the integrity of the discussion.\n\nConfirmation of Understanding:\nBy booking this appointment, you acknowledge and accept these terms and conditions in full."
        }
      },
      "id": "621f0cc0-af6d-485f-93e9-846a9839d07f",
      "name": "Terms & Conditions",
      "type": "n8n-nodes-base.form",
      "position": [
        1400,
        400
      ],
      "webhookId": "dcf32f99-8fb7-457a-8a58-ac1a018b1873",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc7c3e99-e610-4997-82a7-4851f2c04c19",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json[\"Please select\"][0] }}",
              "rightValue": "=I accept"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b9873ccd-fc1f-4d72-9380-eaca2f55c435",
      "name": "Has Accepted?",
      "type": "n8n-nodes-base.if",
      "position": [
        1580,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Form Values').first().json.email }}",
        "subject": "=Appointment Request Received for {{ DateTime.fromISO($('Get Form Values').first().json.dateTime).format('EEE, dd MMM @ t') }}",
        "message": "=<p>Dear {{ $('Get Form Values').first().json.name }},</p>\n<p>Thanks for requesting an appointment. We will review and get back to you shortly.</p>\n<p>Here is the summary of the request that was sent:</p>\n<p>\nName: {{ $('Get Form Values').first().json.name }}<br/>\nEmail: {{ $('Get Form Values').first().json.email }}<br/>\nEnquiry: {{ $('Get Form Values').first().json.enquiry }}<br/>\nSubmitted at: {{ $('Get Form Values').first().json.submittedAt }}\n</p>\n",
        "options": {}
      },
      "id": "d369b171-c500-4501-8e5a-6a41bbc287a3",
      "name": "Send Receipt",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2500,
        380
      ],
      "webhookId": "5f590407-4ab9-4ae6-bb85-38dbe41d6dce",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "qz5smgefDNTyU2hD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "=kahwai@innnlabs.com",
        "subject": "New Appointment Request!",
        "message": "=<h2>A new appointment request was submitted!</h2>\n<p>\nRequesting appointment date is <strong>{{ $('Get Form Values').item.json.dateTime }}</strong>.\n</p>\n<p>\nName: {{ $('Get Form Values').item.json.name }}<br/>\nEmail: {{ $('Get Form Values').item.json.email }}<br/>\nEnquiry Summary: {{ $json.text }}<br/>\nSubmitted at: {{ $('Get Form Values').item.json.submittedAt }}\n</p>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Confirm"
          }
        },
        "options": {}
      },
      "id": "100026d6-e0a2-4946-95b9-b94498835d8e",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3480,
        380
      ],
      "webhookId": "ab9c6c5e-334d-44bb-a8fd-a58140bc680d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "qz5smgefDNTyU2hD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e5e37acb-9e9d-4a9e-bf59-a35dfc035886",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ee161ab9-2156-4f59-9265-80c985131083",
      "name": "Has Approval?",
      "type": "n8n-nodes-base.if",
      "position": [
        3660,
        380
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "c_5792bdf04bc395cbcbc6f7b754268245a33779d36640cc80a357711aa2f09a0a@group.calendar.google.com",
          "cachedResultName": "n8n-events"
        },
        "start": "={{ $('Execute Workflow Trigger').first().json.dateTime }}",
        "end": "={{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).plus(30, 'minute').toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Execute Workflow Trigger').item.json.email }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Summarise Enquiry').first().json.text }}\n\nOriginal message:\n> {{ $('Execute Workflow Trigger').item.json.enquiry }}",
          "summary": "=Appointment Scheduled - {{ $('Execute Workflow Trigger').item.json.name }} & Jim"
        }
      },
      "id": "65b83695-1ca5-4050-bedf-c7c9daafc23e",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        4260,
        340
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bfXiWmCnOxFvYaCM",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Execute Workflow Trigger').first().json.email }}",
        "subject": "=Appointment Request Rejected for {{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).format('EEE, dd MMM @ t') }}",
        "message": "=<p>Dear {{ $('Execute Workflow Trigger').first().json.name }},</p>\n<p>Unfortunately, we cannot schedule the requested appointment at the requested time.</p>\n<p>Kind regards</p>\n",
        "options": {}
      },
      "id": "e4b6f6a8-7a9f-45bf-a968-1ec7c3fbdc6f",
      "name": "Send Rejection",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3860,
        460
      ],
      "webhookId": "5f590407-4ab9-4ae6-bb85-38dbe41d6dce",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "qz5smgefDNTyU2hD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Qualify Enquiries Using AI\n[Learn more about the text classifier](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.text-classifier/)\n\nWith n8n's multi-forms, you’re no longer stuck creating long, overwhelming forms. Instead, you have more flexibility and control to design smarter, more engaging form experiences.\n\nIn this demo, we’ll explore an appointment request scenario where a user wants to schedule a call to discuss their inquiry. However, not all inquiries require a meeting, making it a perfect use case for AI to pre-qualify the request. We can handle this validation using the text classifier node.",
        "height": 611.898918296892,
        "width": 763.0427617951669,
        "color": 7
      },
      "id": "5950517c-8868-4e61-a5f9-c6e138b1d6d3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Split Form For Better User Experience\n[Learn more about the forms](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.form)\n\nOnboarding is a great reason to split your big form into smaller ones. Taking the user through a step by step process ensures a smooth experience and keeps them engaged throughout.\n\nHere, we take the opportunity of the extra context space to display a terms and conditions which the user must agree to making their request. The next form then asks for desired date and time of the event.",
        "height": 606.0718987341766,
        "width": 781.472405063291,
        "color": 7
      },
      "id": "56cb3fa7-7093-47f1-897a-2747ab1bb09c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Send me a DM Instead!",
        "completionMessage": "Thanks for your enquiry but it may not necessarily need an appointment. Please feel free to email me instead at jim@example.com.",
        "options": {}
      },
      "id": "6debf6dd-3503-441b-b7a7-f97bc7852b50",
      "name": "Decline",
      "type": "n8n-nodes-base.form",
      "position": [
        1060,
        480
      ],
      "webhookId": "4353eadb-b7a0-45f2-8dd8-5f6cd882d8d8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Send me a DM Instead!",
        "completionMessage": "Thanks for your enquiry but it may not necessarily need an appointment. Please feel free to email me instead at jim@example.com.",
        "options": {}
      },
      "id": "bd1e30dc-8d21-478d-98f2-a55614d42b83",
      "name": "Decline1",
      "type": "n8n-nodes-base.form",
      "position": [
        1820,
        480
      ],
      "webhookId": "4353eadb-b7a0-45f2-8dd8-5f6cd882d8d8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Send Acknowledgement to User and Start Approval Process\n[Learn more about the Gmail node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/)\n\nOnce all form steps are concluded, we can send a notification to the requester via email and in the background, trigger another email to the admin to initiate the approval process. The approval process works in a separate execution so doesn't interrupt the user's form experience.",
        "height": 497.4250863060987,
        "width": 792.9401150747982,
        "color": 7
      },
      "id": "f9a9a923-04b0-4cc4-8323-663c444ecc88",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Approve or Decline Appointment\n[Learn more about the Waiting for Approval](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/message-operations/#send-a-message-and-wait-for-approval)\n\nThe Wait for Approval feature for Gmail is a special operation which allows for human-in-the-loop interaction in n8n workflows. In this example, the human interaction is the approval of the appointment request. The feature will put the workflow in a waiting state where a message is sent to the admin with 2 buttons: confirm and decline.\n\nWhen the admin clicks on the confirm button, the workflow resumes from the Gmail node and a meeting event is created for the requesting user in Google Calendar.\n\nWhen declined, a rejection email is sent to the requester instead.",
        "height": 287.178089758343,
        "width": 609.4228768699652,
        "color": 7
      },
      "id": "dc703f06-b0f2-4a8e-8947-fd629a429b8a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2980,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "ffdf53bf-f28c-492b-ae6b-dd28622c23a2",
      "name": "Trigger Approval Process",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        2340,
        380
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The enquiry is as follows:\n{{ $('Get Form Values').item.json.enquiry }}",
        "messages": {
          "messageValues": [
            {
              "message": "Summarise the given enquiry"
            }
          ]
        }
      },
      "id": "1a299132-3a26-4c0b-8fce-3277a727409f",
      "name": "Summarise Enquiry",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3160,
        380
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "content": "## Try it out!\n\n### This n8n template is a simple appointment scheduling workflow using n8n forms with AI thrown in the mix for good measure. It also uses n8n's wait for approval feature which allows the ability to confirm appointment requests and create events in Google Calendar.\n\n### How it works\n* We start with a form trigger which asks for the purpose of the appointment.\n* Instantly, we can qualify this by using a text classifier node which uses AI's contextual understanding to ensure the appointment is worthwhile. If not, an alternative is suggested instead.\n* Multi-page forms are then used to set the terms of the appointment and ask the user for a desired date and time.\n* An acknowledgement is sent to the user while an approval by email process is triggered in the background.\n* In a subworkflow, we use Gmail with the wait for approval operation to send an approval form to the admin user who can either confirm or decline the appointment request.\n* When approved, a Google Calendar event is created. When declined, the user is notified  via email that the appointment request was declined.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!\n",
        "height": 690.6653164556957,
        "width": 468.6766398158801
      },
      "id": "6146b6de-e906-4a0e-94ab-ec64a7f398f5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Set your admin email here!",
        "height": 257.56869965477557,
        "width": 177.66444188722656
      },
      "id": "714dfb42-f4dc-4889-85f5-de3d6c77c633",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3440,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputText": "={{ $json.Enquiry }}",
        "categories": {
          "categories": [
            {
              "category": "relevant enquiry",
              "description": "Enquire about AI, automation, digital products and product engineering."
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "id": "3457c40c-1126-4348-acab-1f985b5f1d96",
      "name": "Enquiry Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        740,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        820,
        580
      ],
      "id": "c5b0ed5d-5ffb-4499-b05f-fafc29b3f73a",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "BPQxvUQIJpbJHBzS",
          "name": "gpt-4o-mini"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=kahwai@innnlabs.com",
        "subject": "New Appointment Request!",
        "message": "=<h2>A new appointment request was scheduled!</h2>\n<p>\nRequesting appointment date is <strong>{{ DateTime.fromISO($('Execute Workflow Trigger').item.json.dateTime).format('EEE, dd MMM @ t') }}</strong>.\n</p>\n<p>\nName: {{ $('Get Form Values').item.json.name }}<br/>\nEmail: {{ $('Get Form Values').item.json.email }}<br/>\nEnquiry Summary: {{ $('Summarise Enquiry').item.json.text }}<br/>\nSubmitted at: {{ $('Get Form Values').item.json.submittedAt }}\n</p>",
        "options": {}
      },
      "id": "66a83503-bc75-474c-bf91-113f9d2c838e",
      "name": "Notify success",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3860,
        300
      ],
      "webhookId": "ab9c6c5e-334d-44bb-a8fd-a58140bc680d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "qz5smgefDNTyU2hD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        3220,
        600
      ],
      "id": "06310af1-2a32-4738-bbd0-6d5d8b88fe64",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "BPQxvUQIJpbJHBzS",
          "name": "gpt-4o-mini"
        }
      }
    }
  ],
  "connections": {
    "Send Receipt": {
      "main": [
        [
          {
            "node": "Form End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Accepted?": {
      "main": [
        [
          {
            "node": "Enter Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Approval?": {
      "main": [
        [
          {
            "node": "Notify success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Form Values": {
      "main": [
        [
          {
            "node": "Trigger Approval Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Enquiry Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter Date & Time": {
      "main": [
        [
          {
            "node": "Get Form Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise Enquiry": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Has Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enquiry Classifier": {
      "main": [
        [
          {
            "node": "Terms & Conditions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terms & Conditions": {
      "main": [
        [
          {
            "node": "Has Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Approval Process": {
      "main": [
        [
          {
            "node": "Send Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Enquiry Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarise Enquiry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Form End": {
      "main": [
        [
          {
            "node": "Summarise Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ee28815f-40d8-47e5-b6cd-8bda2cb6c700",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-17T14:36:01.781Z",
      "updatedAt": "2025-07-17T14:36:01.781Z",
      "role": "workflow:owner",
      "workflowId": "Nao5kxQXa5GnX6zr",
      "projectId": "J4aJZ1K2PyZvolNE"
    }
  ],
  "tags": []
}