multi-agentic-customer-query-handling-and-resolution-orchestrator-with-guardrails-.json
{
  "updatedAt": "2026-02-25T02:01:03.850Z",
  "createdAt": "2026-02-23T09:17:48.289Z",
  "id": "136yfxh8NWJ4Ebmn",
  "name": "Multi-Agentic Customer Query Handling and Resolution Orchestrator with Guardrails",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "name": "safai_info",
        "description": "Use this tool to answer every questions by the user."
      },
      "id": "23d92c4f-9324-4806-b59d-abede13045a2",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        2000,
        2000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "mens-collection",
          "cachedResultName": "mens-collection"
        },
        "options": {
          "pineconeNamespace": "mens-collection"
        }
      },
      "id": "6f7cad00-71b3-4994-a3e3-353b6a070600",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1904,
        2128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "260afc5e-817c-49ba-b0eb-7bbdcaac16c9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2032,
        2272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "id": "1eb40159-d45a-4c02-836f-da043fcfbc5e",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1728,
        2000
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "id": "4ed3079a-d602-4a01-ba7a-e9aca8fac417",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2256,
        2128
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "53849246-ad32-4845-9976-9f9688f5a6f2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.needsReply }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "6b3201c4-61a5-481f-8cb5-1554e7bec501",
      "name": "If Needs Reply1",
      "type": "n8n-nodes-base.if",
      "position": [
        1504,
        1840
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsonSchema": "{\n \"type\": \"object\",\n \"properties\": {\n \"needsReply\": {\n \"type\": \"boolean\"\n }\n },\n \"required\": [\"needsReply\"]\n}\n"
      },
      "id": "c92eb63e-d443-483d-8d85-82cc7c2e539e",
      "name": "JSON Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1296,
        2016
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "id": "91f7b7c3-85d1-483f-804a-4ef0a0ce2fee",
      "name": "OpenAI Chat1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1136,
        2016
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "prompt": "=Subject: {{ $json.subject }}\nMessage:\n{{ $json.textAsHtml }} ",
        "messages": {
          "messageValues": [
            {
              "message": "=Your task is to assess if the message requires a response. Return in JSON format true if it does, false otherwise. Emails which are not asking about anything regarding our men's clothin store don't require a response."
            }
          ]
        }
      },
      "id": "a890968e-c8df-42d2-b330-1587dd7a4165",
      "name": "Assess if message needs a reply1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1152,
        1840
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Receive Email from Gmail').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "cf83fc54-dbfa-48d2-9686-907e20525855",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2080,
        1664
      ],
      "webhookId": "6c2297da-923d-448f-8790-ea6e7c59097a",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "PxWNojtMdxyKEMQe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Assesing whether the mail needs a reply or not",
        "height": 448,
        "width": 304
      },
      "id": "44e3a50a-a89c-4f7b-aa20-30038226d472",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        1728
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Selecting only the mails that need a reply",
        "height": 272,
        "width": 272,
        "color": 3
      },
      "id": "90df52bb-74be-45a2-b4be-3dbf7d7365c6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        2128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Custom Knowledge Base for the AI Agent",
        "height": 480,
        "width": 528,
        "color": 6
      },
      "id": "d961b1e4-14f3-445f-b0cf-2d67cbd01c10",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        1920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## RAG Agent",
        "height": 208,
        "width": 304,
        "color": 5
      },
      "id": "23663513-0de6-4f68-b53a-13fb2098f522",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Receive Email from Gmail').item.json.headers.subject }}\nMessage: {{ $('Receive Email from Gmail').item.json.text }}",
        "options": {
          "systemMessage": "=You are a friendly and professional support agent for a men's clothing store whose goal is to help users by providing clear, accurate, and empathetic responses to their email. When a user asks a question or describes an issue through email regarding anything related to men's clothing store, use the Retrieval-Augmented Generation (RAG) tool to search and fetch the most relevant, up-to-date information from the knowledge base or documents available. Start the response with \"Dear\" header and end by saying \"Best regrads\" footer just like how a mail is written. (Dont add any name after \"Dear\")\n\nYour responses should:\n\n* Acknowledge the user’s concern with empathy.\n* Use the RAG tool to find precise information relevant to the user’s query.\n* Clearly explain the solution or information in simple, easy-to-understand language.\n* If you don’t find an exact answer, be honest about it and offer helpful alternatives or next steps.\n* Always maintain a polite, patient, and supportive tone.\n* Keep responses short and concise: Only provide the price and key features of the service requested. Avoid additional details unless directly requested."
        }
      },
      "id": "38288619-bc53-4300-941a-ffd6ef266b5d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1744,
        1728
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "content": "## Sending a Reply",
        "height": 240,
        "width": 224,
        "color": 4
      },
      "id": "88b40946-eabf-4ec3-9a65-1648100a64e1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 59
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "-from:me"
        },
        "options": {}
      },
      "id": "ab27940f-b7b5-421f-ad1d-bdb8cea1ab15",
      "name": "Receive Email from Gmail",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        672,
        1776
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "PxWNojtMdxyKEMQe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        2080
      ],
      "id": "79b5283b-5382-495f-a59d-3745fbd31692",
      "name": "Reply to the email",
      "webhookId": "df29d228-cfd1-4b21-9f67-819d7123ad8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "PxWNojtMdxyKEMQe",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assess if message needs a reply1": {
      "main": [
        [
          {
            "node": "If Needs Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Email from Gmail": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "176769d3-6b13-4fde-9d2d-ef3235ebac63",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-23T09:17:48.289Z",
      "createdAt": "2026-02-23T09:17:48.289Z",
      "role": "workflow:owner",
      "workflowId": "136yfxh8NWJ4Ebmn",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}