my-workflow-10-.json
{
  "updatedAt": "2026-05-28T09:33:23.579Z",
  "createdAt": "2026-05-19T09:09:02.532Z",
  "id": "m1FbIDEuLHMYAFLD",
  "name": "My workflow 10",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -96
      ],
      "id": "cabe4e91-2a1a-4767-b167-72ae2f41b135",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.jsons.live/Amazon/1-level/1-KB/formatted",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -96
      ],
      "id": "b6bdbe98-dc78-490e-9fb4-499fa25548d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=1 {{ $json.data[0].OrderID }}",
                    "rightValue": "ORD0000002",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3f65c904-f3a6-4436-9acf-8463c91421d6"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        400,
        -128
      ],
      "id": "8a54eeeb-f906-46d2-bcc9-71f048cbd04f",
      "name": "Switch"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "161520c8-8ef0-48a5-8978-1e65ef2ed5c1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-19T09:09:02.532Z",
      "createdAt": "2026-05-19T09:09:02.532Z",
      "role": "workflow:owner",
      "workflowId": "m1FbIDEuLHMYAFLD",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}