my-workflow-7-.json
{
  "updatedAt": "2026-04-29T15:35:14.919Z",
  "createdAt": "2026-03-12T11:41:16.802Z",
  "id": "Sv6p41U2Z3vHomRu",
  "name": "My workflow 7",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "26eaf494-918c-4ed9-98d7-cf0b52a50a45",
        "options": {
          "responseData": "test"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -128
      ],
      "id": "2c56258c-bd0a-4eb9-9574-fc75718a3469",
      "name": "Webhook",
      "webhookId": "26eaf494-918c-4ed9-98d7-cf0b52a50a45"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"my_field_1\": \"{{ $json.executionMode }}\",\n  \"my_field_2\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        128
      ],
      "id": "272b98e3-aca7-4e8c-92de-91b487de70e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        128
      ],
      "id": "72a247de-4a59-4ba8-a18f-f07a9d20abd6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -336
      ],
      "id": "d5791501-0e3c-4b2c-874e-7ccbd6fb969c",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cac36c2-6a49-4d6e-98fa-eaef21d7a06c",
              "leftValue": "={{ $json.age }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        -336
      ],
      "id": "e7e3e881-ce11-4329-9018-63b78be71fb9",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -336
      ],
      "id": "8c514842-6b04-4b0d-b6af-6f9827d3c7b5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37a71822-400d-4e96-99f9-ca8c414455c2",
              "name": "$today",
              "value": "={{ $execution }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -384
      ],
      "id": "9b08f29d-68e1-4e4d-b97d-d436db4fd45f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1433edd-02d3-481e-a474-92e62f478406",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "59d55031-4d40-4cb8-88db-ce42f2d2ddde",
              "name": "$now",
              "value": "={{ $now }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        64
      ],
      "id": "f0d40310-0164-44e9-b326-638951328c9f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        240
      ],
      "id": "4f4a34ca-f9b0-4dbd-be05-321fd4d5af3b",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1774283111
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "age": 30
        }
      }
    ]
  },
  "versionId": "780b9b86-000c-4a64-9f97-223581223ed1",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-12T11:41:16.802Z",
      "createdAt": "2026-03-12T11:41:16.802Z",
      "role": "workflow:owner",
      "workflowId": "Sv6p41U2Z3vHomRu",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}