my-workflow-10-.json
{
  "updatedAt": "2026-06-05T11:27:00.433Z",
  "createdAt": "2026-05-19T09:09:02.532Z",
  "id": "m1FbIDEuLHMYAFLD",
  "name": "My workflow 10",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -96
      ],
      "id": "cabe4e91-2a1a-4767-b167-72ae2f41b135",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://apis.jsons.live/Bookings/1-level/5-KB/minified",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -96
      ],
      "id": "b6bdbe98-dc78-490e-9fb4-499fa25548d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        112
      ],
      "id": "1a6d5bb2-8b67-48e2-b8c1-a133b99bba0a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f2ce079-f109-41c4-a2b7-0a9d9ff89ba1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -160
      ],
      "id": "81477526-2de0-40a3-b279-0c1e82274c24",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=1 {{ $json.data[8].Booking_ID }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0489161e-57dd-4b80-bc58-037ae66e5b17"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        368,
        -320
      ],
      "id": "0920fce3-c24b-4966-b388-cf82fcc0ee5e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e33e034-23dc-4a92-bbf6-8a420a91fd05",
              "name": "data[0].Booking_ID",
              "value": "={{ $json.data[0].Booking_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -336
      ],
      "id": "6119aa19-fb35-4be7-afec-93861b117016",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://apis.jsons.live/Bookings/1-level/5-KB/minified",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        -144
      ],
      "id": "cb2b6c63-fc0c-4219-bca5-ef1b9464e377",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a7f9eb1b-8279-414f-98a8-4e1cb3d368b5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-19T09:09:02.532Z",
      "createdAt": "2026-05-19T09:09:02.532Z",
      "role": "workflow:owner",
      "workflowId": "m1FbIDEuLHMYAFLD",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}