my-workflow-7-.json
{
  "updatedAt": "2026-05-13T09:39:30.937Z",
  "createdAt": "2026-03-12T11:41:16.802Z",
  "id": "Sv6p41U2Z3vHomRu",
  "name": "My workflow 7",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "26eaf494-918c-4ed9-98d7-cf0b52a50a45",
        "options": {
          "responseData": "test"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -128
      ],
      "id": "2c56258c-bd0a-4eb9-9574-fc75718a3469",
      "name": "Webhook",
      "webhookId": "26eaf494-918c-4ed9-98d7-cf0b52a50a45"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"my_field_1\": \"{{ $json.executionMode }}\",\n  \"my_field_2\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        128
      ],
      "id": "272b98e3-aca7-4e8c-92de-91b487de70e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        128
      ],
      "id": "72a247de-4a59-4ba8-a18f-f07a9d20abd6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -336
      ],
      "id": "d5791501-0e3c-4b2c-874e-7ccbd6fb969c",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cac36c2-6a49-4d6e-98fa-eaef21d7a06c",
              "leftValue": "={{ $json.age }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        -336
      ],
      "id": "e7e3e881-ce11-4329-9018-63b78be71fb9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37a71822-400d-4e96-99f9-ca8c414455c2",
              "name": "$today",
              "value": "={{ $execution }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -384
      ],
      "id": "9b08f29d-68e1-4e4d-b97d-d436db4fd45f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1433edd-02d3-481e-a474-92e62f478406",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "59d55031-4d40-4cb8-88db-ce42f2d2ddde",
              "name": "$now",
              "value": "={{ $now }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        64
      ],
      "id": "f0d40310-0164-44e9-b326-638951328c9f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        240
      ],
      "id": "4f4a34ca-f9b0-4dbd-be05-321fd4d5af3b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "4c658048-4c56-472f-9676-ef11abbe40b9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -288
      ],
      "id": "b4f8e6f5-6c0d-46c6-8c80-aa782538434f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "path": "1c9c8b6a-668f-441a-8793-410916acd46a",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -192
      ],
      "id": "b3bc61bf-6bf9-4865-83a7-88274b32c1c6",
      "name": "Webhook1",
      "webhookId": "1c9c8b6a-668f-441a-8793-410916acd46a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ce121bf-223d-4eeb-925c-59a2aad18d03",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        32
      ],
      "id": "d4a795ba-3a1f-4c74-b9a2-d33de5c41434",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fbf5aa56-0b70-4516-9386-2d6cae335a01"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1fcf5d14-0771-4433-b7ae-d36e2a9db9a8",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -496,
        48
      ],
      "id": "2b3e1127-769b-4f3e-bc08-aeda108a5c59",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad590d46-fa54-4d5c-bdbc-09c1cf309a44",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "18ba0ba4-d1f0-4dff-a867-1b91e4238edc",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b055e05a-5c1e-483c-b6ad-a6f8ab1cc648",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -192
      ],
      "id": "d7a1f722-2812-49ca-8a7c-df2324b5e342",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -240,
        0
      ],
      "id": "5845a63b-b372-43bc-9cc3-8f296610ec33",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "operation": "upload",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        352,
        278.21563720703125
      ],
      "id": "ada0c95c-c222-4438-94c1-07346ed1a4ab",
      "name": "FTP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a7f9d96-f6f0-42cb-8fd1-28961f1ff44c",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        288
      ],
      "id": "80f85fab-22ff-41c4-8060-e8b9fb287728",
      "name": "Edit Fields3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook1": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1774283111
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d654a690-431e-401a-962a-c587b7841bd1",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-12T11:41:16.802Z",
      "createdAt": "2026-03-12T11:41:16.802Z",
      "role": "workflow:owner",
      "workflowId": "Sv6p41U2Z3vHomRu",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": null,
  "tags": []
}