my-workflow-7-.json
{
  "updatedAt": "2026-03-25T15:20:22.998Z",
  "createdAt": "2026-03-12T11:41:16.802Z",
  "id": "Sv6p41U2Z3vHomRu",
  "name": "My workflow 7",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "26eaf494-918c-4ed9-98d7-cf0b52a50a45",
        "options": {
          "responseData": "test"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -128
      ],
      "id": "2c56258c-bd0a-4eb9-9574-fc75718a3469",
      "name": "Webhook",
      "webhookId": "26eaf494-918c-4ed9-98d7-cf0b52a50a45"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"my_field_1\": \"{{ $json.executionMode }}\",\n  \"my_field_2\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        128
      ],
      "id": "272b98e3-aca7-4e8c-92de-91b487de70e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "klooooooooooooo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        96
      ],
      "id": "c1892379-85cd-4803-969c-6dfb977a59c3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "create",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.adalo",
      "typeVersion": 1,
      "position": [
        240,
        -144
      ],
      "id": "1e25b652-6c12-4a6c-97b3-4eb5ce988b6f",
      "name": "Create collection"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1774283111
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a6b6f384-4898-4efe-86e0-81ab0d6accb7",
  "activeVersionId": "1e05e145-7d19-49c2-988a-c0c1766a593f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-12T11:41:16.802Z",
      "createdAt": "2026-03-12T11:41:16.802Z",
      "role": "workflow:owner",
      "workflowId": "Sv6p41U2Z3vHomRu",
      "projectId": "jEyFJXtUUwEM8iYb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-25T14:52:49.252Z",
    "createdAt": "2026-03-24T02:05:56.857Z",
    "versionId": "1e05e145-7d19-49c2-988a-c0c1766a593f",
    "workflowId": "Sv6p41U2Z3vHomRu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "DELETE",
          "path": "26eaf494-918c-4ed9-98d7-cf0b52a50a45",
          "options": {
            "responseData": "test"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -256,
          16
        ],
        "id": "2c56258c-bd0a-4eb9-9574-fc75718a3469",
        "name": "Webhook",
        "webhookId": "26eaf494-918c-4ed9-98d7-cf0b52a50a45"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"my_field_1\": \"{{ $json.executionMode }}\",\n  \"my_field_2\": 1\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -48,
          16
        ],
        "id": "272b98e3-aca7-4e8c-92de-91b487de70e0",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Xin Lin Koh",
    "name": "Current changes",
    "description": "",
    "autosaved": true
  },
  "tags": []
}