reconcile-stripe,-bank,-and-e-commerce-data-with-gpt-4.1-and-google-sheets-.json
{
  "updatedAt": "2026-05-13T16:16:31.232Z",
  "createdAt": "2026-05-13T16:16:31.232Z",
  "id": "35j85wiQZ8xPNSLG",
  "name": "Reconcile Stripe, bank, and e-commerce data with GPT-4.1 and Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "cbf814e6-df90-44eb-848e-df10413c6a1e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        384,
        880
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "stripeApiUrl",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Stripe API endpoint URL__>"
            },
            {
              "id": "id-2",
              "name": "bankFeedApiUrl",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Bank feed API endpoint URL__>"
            },
            {
              "id": "id-3",
              "name": "invoiceApiUrl",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Invoice system API endpoint URL__>"
            },
            {
              "id": "id-4",
              "name": "ecommerceApiUrl",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Ecommerce platform API endpoint URL__>"
            },
            {
              "id": "id-5",
              "name": "taxAgentApiUrl",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Tax agent submission API endpoint URL__>"
            },
            {
              "id": "id-6",
              "name": "reconciliationThreshold",
              "type": "number",
              "value": 0.01
            },
            {
              "id": "id-7",
              "name": "notificationEmail",
              "type": "string",
              "value": "<__PLACEHOLDER_VALUE__Email address for notifications__>"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3115a915-7798-4dba-8b13-239c2cc4f09c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "charge",
        "operation": "getAll",
        "limit": 100
      },
      "id": "da83c678-46d3-4ec3-80e8-9777e31ab88b",
      "name": "Get Stripe Transactions",
      "type": "n8n-nodes-base.stripe",
      "position": [
        832,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.bankFeedApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1d46acb8-63c8-4e22-9398-bebbef8bcf1b",
      "name": "Get Bank Feed Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        864
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.invoiceApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "4226b077-ba89-4755-9a5c-83841b0e8932",
      "name": "Get Invoice Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        1056
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.ecommerceApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "143f71d3-6048-43e3-bdaf-5d555c9f987d",
      "name": "Get Ecommerce Platform Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        1248
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ae9e0714-1513-4ec9-a11a-15bf1fa9ae38",
      "name": "Combine All Financial Data",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1056,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a financial reconciliation orchestrator that coordinates specialized AI agents to detect and correct financial discrepancies.\n\nYour task is to:\n1. Call the Mismatch Detection Agent Tool to identify discrepancies between Stripe, bank feeds, invoices, and ecommerce platform data\n2. For each mismatch found, call the Root Cause Analysis Agent Tool to determine why the discrepancy occurred\n3. Call the Ledger Correction Agent Tool to generate correction instructions for the ledger\n4. Return a structured JSON output with all mismatches, root causes, and correction instructions\n\nBe thorough and systematic in your analysis. Use the Calculator Tool for any financial calculations needed."
        }
      },
      "id": "2a652a97-ca7d-4b5f-822a-496482955a4f",
      "name": "Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1376,
        880
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "toolDescription": "Detects financial discrepancies between Stripe, bank feeds, invoices, and ecommerce platforms",
        "text": "={{ $fromAI('financialData', 'All financial data from different sources', 'json') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a financial mismatch detection specialist.\n\nYour task is to:\n1. Compare transactions across Stripe, bank feeds, invoices, and ecommerce platform data\n2. Identify discrepancies in amounts, dates, transaction IDs, or missing entries\n3. Flag transactions that don't match within the reconciliation threshold\n4. Return a structured list of all mismatches found\n\nBe precise and thorough in your comparison. Use the Calculator Tool for amount comparisons."
        }
      },
      "id": "89afca4e-065a-4b26-87c0-6bf8723d83b8",
      "name": "Mismatch Detection Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1408,
        1104
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "toolDescription": "Analyzes the root cause of financial discrepancies",
        "text": "={{ $fromAI('mismatchData', 'Mismatch information to analyze', 'json') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a financial forensics specialist who determines root causes of discrepancies.\n\nYour task is to:\n1. Analyze each mismatch to determine the most likely root cause\n2. Consider common causes: timing differences, refunds, fees, currency conversion, data entry errors, duplicate entries, missing transactions\n3. Provide a clear explanation of why the discrepancy occurred\n4. Assign a confidence level to your analysis (high, medium, low)\n5. Return structured root cause analysis for each mismatch\n\nBe analytical and consider multiple possibilities before concluding."
        }
      },
      "id": "1ee71a92-7035-4017-b23c-c0a5994cce53",
      "name": "Root Cause Analysis Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1696,
        1104
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "toolDescription": "Generates ledger correction instructions based on root cause analysis",
        "text": "={{ $fromAI('rootCauseData', 'Root cause analysis results', 'json') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a ledger correction specialist who generates precise correction instructions.\n\nYour task is to:\n1. Based on the root cause analysis, determine the appropriate ledger correction\n2. Generate specific correction entries (debit/credit, account, amount, description)\n3. Ensure corrections maintain double-entry bookkeeping principles\n4. Include reference to original transaction and root cause\n5. Return structured correction instructions ready for implementation\n\nBe precise with amounts and account classifications. Use the Calculator Tool for any calculations."
        }
      },
      "id": "153c0bf9-b37f-42fd-a756-ba15860e1fae",
      "name": "Ledger Correction Agent Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        2032,
        1104
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "0b5a3883-ebc0-43bb-831f-0f43afeb4448",
      "name": "OpenAI Model - Orchestrator",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1280,
        1104
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e0f6b8c1-b94e-440b-b5ca-2257324f0c49",
      "name": "OpenAI Model - Mismatch Detection",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1344,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "48f84935-7fc2-4466-bb51-ceb1cbe502c9",
      "name": "OpenAI Model - Root Cause",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1744,
        1376
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "05bdb8b0-26f8-4316-824c-5663e42a895a",
      "name": "OpenAI Model - Ledger Correction",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2064,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"reconciliationSummary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"totalMismatches\": {\"type\": \"number\"},\n        \"totalCorrections\": {\"type\": \"number\"},\n        \"reconciliationDate\": {\"type\": \"string\"}\n      }\n    },\n    \"mismatches\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"mismatchId\": {\"type\": \"string\"},\n          \"sources\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n          \"discrepancyAmount\": {\"type\": \"number\"},\n          \"rootCause\": {\"type\": \"string\"},\n          \"confidence\": {\"type\": \"string\"},\n          \"correction\": {\"type\": \"object\"}\n        }\n      }\n    }\n  }\n}"
      },
      "id": "b844c2db-68a9-4b0a-80bc-80ff58059cfb",
      "name": "Orchestrator Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2448,
        1104
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mismatches\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"mismatchId\": {\"type\": \"string\"},\n          \"transactionId\": {\"type\": \"string\"},\n          \"sources\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n          \"expectedAmount\": {\"type\": \"number\"},\n          \"actualAmount\": {\"type\": \"number\"},\n          \"discrepancyAmount\": {\"type\": \"number\"},\n          \"transactionDate\": {\"type\": \"string\"},\n          \"description\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"
      },
      "id": "56a1853d-a6f4-4c3c-b2cc-373d3570f087",
      "name": "Mismatch Detection Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1520,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"rootCauseAnalysis\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"mismatchId\": {\"type\": \"string\"},\n          \"rootCause\": {\"type\": \"string\"},\n          \"explanation\": {\"type\": \"string\"},\n          \"confidence\": {\"type\": \"string\", \"enum\": [\"high\", \"medium\", \"low\"]},\n          \"category\": {\"type\": \"string\", \"enum\": [\"timing\", \"fees\", \"refund\", \"error\", \"duplicate\", \"missing\", \"other\"]}\n        }\n      }\n    }\n  }\n}"
      },
      "id": "fdc51dbd-e94c-43dc-b2f4-f5b3399f636f",
      "name": "Root Cause Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1856,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"corrections\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"mismatchId\": {\"type\": \"string\"},\n          \"correctionType\": {\"type\": \"string\"},\n          \"entries\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"account\": {\"type\": \"string\"},\n                \"debit\": {\"type\": \"number\"},\n                \"credit\": {\"type\": \"number\"},\n                \"description\": {\"type\": \"string\"}\n              }\n            }\n          },\n          \"reference\": {\"type\": \"string\"},\n          \"notes\": {\"type\": \"string\"}\n        }\n      }\n    }\n  }\n}"
      },
      "id": "ce4b1761-1fad-415e-8ab4-5a2dc22d4833",
      "name": "Ledger Correction Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2240,
        1312
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "9983e8f0-942b-4349-b441-db69c04425b7",
      "name": "Calculator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2320,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Process reconciliation data from Orchestrator Agent and prepare ledger entries\nconst reconciliationData = $input.first().json;\n\n// Extract corrections from the reconciliation data\nconst corrections = reconciliationData.mismatches || [];\n\n// Prepare ledger entries for each correction\nconst ledgerEntries = corrections.map(mismatch => {\n  return {\n    mismatchId: mismatch.mismatchId,\n    transactionId: mismatch.transactionId || mismatch.mismatchId,\n    rootCause: mismatch.rootCause,\n    confidence: mismatch.confidence,\n    correction: mismatch.correction,\n    discrepancyAmount: mismatch.discrepancyAmount,\n    processedAt: new Date().toISOString(),\n    status: 'applied'\n  };\n});\n\n// Calculate summary statistics\nconst summary = {\n  totalMismatches: corrections.length,\n  totalCorrections: corrections.length,\n  reconciliationDate: new Date().toISOString(),\n  totalDiscrepancyAmount: corrections.reduce((sum, m) => sum + (m.discrepancyAmount || 0), 0)\n};\n\n// Return structured output\nreturn [\n  {\n    json: {\n      reconciliationSummary: summary,\n      ledgerEntries: ledgerEntries,\n      originalData: reconciliationData\n    }\n  }\n];"
      },
      "id": "b2807360-d2a3-4f2b-a610-ccf0556ba9bb",
      "name": "Apply Ledger Corrections",
      "type": "n8n-nodes-base.code",
      "position": [
        2624,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Google Sheets document ID for logging__>"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Reconciliation Log"
        },
        "columns": {
          "value": null,
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "ed8003e2-7765-49df-941f-106496edd781",
      "name": "Log Fixes to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2832,
        976
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').first().json.notificationEmail }}",
        "subject": "=Financial Reconciliation Complete - {{ new Date().toLocaleDateString() }}",
        "message": "=The automated financial reconciliation has completed.\n\nSummary:\n- Total Mismatches Found: {{ $('Apply Ledger Corrections').first().json.reconciliationSummary.totalMismatches || 0 }}\n- Total Corrections Applied: {{ $('Apply Ledger Corrections').first().json.reconciliationSummary.totalCorrections || 0 }}\n- Report Submitted: {{ $('Submit Report to Tax Agent').first().json.success ? \"Yes\" : \"No\" }}\n\nPlease review the detailed log in Google Sheets for complete information.",
        "options": {}
      },
      "id": "0990fbaa-4456-4e62-9501-fcae8130e95b",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2832,
        784
      ],
      "webhookId": "dfb5b307-bc38-4006-828b-596a2e5bc5c3",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Prerequisites\nNVIDIA API access, OpenAI API key, Stripe account\n## Use Cases\nMonthly financial close automation, daily transaction reconciliation\n## Customization\nModify detection thresholds, add custom financial data sources\n## Benefits\nReduces reconciliation time by 90%, eliminates manual data entry errors",
        "height": 304,
        "width": 528,
        "color": 5
      },
      "id": "6d9a6219-2466-43d2-9ae4-cd1ced33ecec",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setup Steps\n1. Configure Stripe API credentials in \"Get Stripe Transactions\" node\n2. Add banking API authentication for \"Get Bank Feed Data\" node\n3. Connect e-commerce platform (Shopify/WooCommerce) credentials  \n4. Input NVIDIA API key for all OpenAI Model nodes\n5. Set OpenAI API key in Orchestrator Agent\n6. Configure Gmail credentials for notification node",
        "height": 256,
        "width": 448
      },
      "id": "439c1e17-1679-4cac-9995-1b1f9d368b78",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How It Works\nThis workflow automates financial reconciliation by orchestrating multiple AI agents to detect mismatches, analyze root causes, and apply corrections across bank statements, invoices, and e-commerce platforms. Designed for finance teams, accountants, and business owners managing high transaction volumes, it eliminates manual reconciliation tedious work that typically consumes hours weekly. The system retrieves financial data from Stripe, banking APIs, and e-commerce platforms, then feeds it to specialized AI agents: one detects discrepancies using pattern recognition, another performs root cause analysis, and a third generates ledger corrections. An orchestrator agent coordinates these specialists, ensuring systematic processing. Results are logged to Google Sheets and trigger email notifications for critical issues, creating an audit trail while reducing reconciliation time from hours to minutes with 95%+ accuracy.",
        "height": 272,
        "width": 656
      },
      "id": "94fa9eea-4d2c-4d3b-8cc4-b394efa81f9b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Root Cause Analysis\n**Why:** Understanding why mismatches occur prevents recurring errors and informs process improvements beyond simple correction.",
        "height": 960,
        "width": 272,
        "color": 7
      },
      "id": "5d78fb73-2bff-4a16-b831-bcb4a02b4f33",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI-Powered Mismatch Detection\n**Why:** Machine learning identifies discrepancies faster than manual review, catching subtle inconsistencies humans might miss across thousands of transactions.",
        "height": 928,
        "width": 464,
        "color": 7
      },
      "id": "ca990672-c4d1-443d-9af3-d1f66482ad92",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scheduled Data Collection\n**Why:** Automated retrieval ensures consistent, timely reconciliation without manual intervention, capturing transactions from all financial sources simultaneously.",
        "height": 848,
        "width": 832,
        "color": 7
      },
      "id": "4164f5ba-3a71-4fce-80d6-35dad0126407",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Automated Ledger Corrections & Email\n**Why:** Direct correction generation eliminates transcription errors and accelerates resolution, maintaining accounting accuracy.",
        "height": 960,
        "width": 960,
        "color": 7
      },
      "id": "5c76321d-a0cc-43ca-8f60-b4dec4a27886",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        560
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice Data": {
      "main": [
        [
          {
            "node": "Combine All Financial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bank Feed Data": {
      "main": [
        [
          {
            "node": "Combine All Financial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Apply Ledger Corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Stripe Transactions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Bank Feed Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Invoice Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Ecommerce Platform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stripe Transactions": {
      "main": [
        [
          {
            "node": "Combine All Financial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Ledger Corrections": {
      "main": [
        [
          {
            "node": "Log Fixes to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Root Cause Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Root Cause Analysis Agent Tool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Root Cause": {
      "ai_languageModel": [
        [
          {
            "node": "Root Cause Analysis Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Financial Data": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Ecommerce Platform Data": {
      "main": [
        [
          {
            "node": "Combine All Financial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Orchestrator": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ledger Correction Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mismatch Detection Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Root Cause Analysis Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ledger Correction Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ledger Correction Agent Tool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mismatch Detection Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Mismatch Detection Agent Tool",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Ledger Correction": {
      "ai_languageModel": [
        [
          {
            "node": "Ledger Correction Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Mismatch Detection": {
      "ai_languageModel": [
        [
          {
            "node": "Mismatch Detection Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateId": "12493"
  },
  "pinData": {},
  "versionId": "7b5e1b61-2a79-451e-ba5b-9235300da192",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-13T16:16:31.232Z",
      "createdAt": "2026-05-13T16:16:31.232Z",
      "role": "workflow:owner",
      "workflowId": "35j85wiQZ8xPNSLG",
      "projectId": "HkvQcrCdALIwWQwD"
    }
  ],
  "activeVersion": null,
  "tags": []
}